﻿<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Eliminar Empresa</h4>

            <div ng-show="tieneProyectos==false"class="alert alert-warning" role="alert">
                ¿Está seguro que quiere eliminar la empresa <strong> {{empresa.Nombre_Empresa}}</strong>
            </div>
            <div ng-show="tieneProyectos==true" class="alert alert-danger" role="alert">
                <strong>No puede eliminar la empresa  {{empresa.Nombre_Empresa}}. Tiene proyectos asociados.</strong>
            </div>

            <div class="text-right">
                    <button class="btn btn-default" ng-click="volver()">Volver</button>
                    <button class="btn btn-primary" ng-click="eliminar()">Aceptar</button>

            </div>
            </div> <!-- fin Card body-->
        </div> <!--fin Card-->
</div>
