﻿<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Lista de Empresas</h3>
<br />


<div class="row" id="search">
    <form id="search-form" action="">
       
        <div class="form-group col-sm-7 col-xs-3">
            <a ng-show="rol.esAdministrador() " class="btn  btn-primary pull-right" href="#!/empresas/agregar"><i class="fa fa-plus" aria-hidden="true"></i>  Agregar</a>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
            <input type="text" class="form-control" placeholder="Nombre empresa..." ng-model="filtro.empresa.Nombre_Empresa">
        </div>
        <div class="form-group col-sm-2 col-xs-3 ">

            <button class="btn btn-block btn-primary pull-right" type="button" ng-click="buscar()"><i class="fa fa-search" aria-hidden="true"></i>  Buscar</button>

        </div>
    </form>
</div>
<br />
<div class="row" id="filter">
    <form>
        <div class="form-group col-sm-6">

            <span for="selectTamPagina" class="control-label">Mostrando:</span>
            <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <span for="selectTamPagina" class="control-label">Registros</span>

        </div>
       
    </form>
</div>

<br />
<div class="hidden-xs">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <!--<table class="table">-->
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Razón Social</th>
                            <th>Nombre Fantasía</th>
                            <th>Email</th>
                            <th>Clave</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in empresas">
                            <td class="text col-sm-2">{{e.Rut_Empresa}}-{{e.Dv}}</td>
                            <td class="text col-sm-3">{{e.Razon_Social}}</td>
                            <td class="text col-sm-3">{{e.Nombre_Fantasia}}</td>
                            <td class="text col-sm-2">{{e.Email_Particular}}</td>
                            <td class="text col-sm-2"> {{e.Pass_Sistemas}}</td>

                            <!--<td ng-show="e.Ingresa_Documentos==-1" ><span class="label label-info">Pendiente Registro</span></td>
                            <td ng-show="e.Ingresa_Documentos==1" ><span class="label label-success">Registrada</span></td>-->
                            <td class="text col-sm-2" align="center">

                                <a href="#!/empresas/{{e.Rut_Empresa}}/editar" title="Editar" role="button" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Editar</a>
                                <a href="#!/empresas/{{e.Rut_Empresa}}/resetearClave" title="Resetear Clave" role="button" class="btn btn-default btn-sm"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Enviar Clave</a>

                                <!--<a href="#!/empresas/{{e.Rut_Empresa}}/editar" title="Editar" role="button" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Editar</a>
                                                            <!--<a href="#!/empresas/{{e.Rut_Empresa}}/resetearClave" title="Resetear Clave" role="button" class="btn btn-default btn-sm"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Resetear Clave</a>
                                <a href="#!/empresas/{{e.Rut_Empresa}}/proyectos" title="Proyectos" class="btn btn-default btn-sm"><i class="fa fa-industry" aria-hidden="true"></i> &nbsp; Proyectos</a>-->
                                <!--<a href="" ng-click="iniciarEliminar(e.Rut_Empresa)" class="btn btn-default btn-sm"><i class="fa fa-trash text-danger" aria-hidden="true"></i> &nbsp; Eliminar</a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form class="form-inline">
                <div class="form-group">
                    <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
                </div>
            </form>
        </div>
        <div class="col-sm-8 ">
            <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
        </div>
    </div>
</div>
<div class="visible-xs">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-responsive">
                    <tbody>
                        <tr ng-repeat="e in empresas">
                            <td class="celda-normal">
                                {{e.Nombre_Empresa}} -
                                {{e.Email_Particular}}

                            </td>
                            <td align="center">
                                <a href="#!/empresas/{{e.Rut_Empresa}}/editar" title="Editar" role="button" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Editar</a>
                                <!--<a href="#!/empresas/{{e.Rut_Empresa}}/proyectos" title="Proyectos" class="btn btn-default btn-sm"><i class="fa fa-industry" aria-hidden="true"></i> &nbsp; Proyectos</a>-->

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>
