﻿<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Verificar Rut de la Empresa</h4>

            <div class="alert alert-danger" role="alert">
                La empresa ya existe en el banco de empresas del SERVIU, pero no como empresa de asistencia técnica ¿desea agregarla como empresa de asistencia técnica?.
            </div>


            <div class="text-right">
                <button class="btn btn-default" ng-click="volver()">Volver</button>
                <button class="btn btn-primary" ng-click="agregar()">Aceptar</button>

            </div>
        </div> <!-- fin Card body-->
    </div> <!--fin Card-->
</div>
