﻿<div class="container">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Resetear Clave Empresa Patrocinante</h3>
        <br />
    </div>

    <form class="form" name="frmEmpresa" id="frmEmpresa" novalidate>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="Rut_Empresa" class="control-label">Rut</label>
                    <input type="text" class="form-control" id="Rut_Empresa" name="Rut_Empresa" ng_model="empresa.RutConDv" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Razon_Social" class="control-label">Razon Social</label>
                    <input type="text" class="form-control" id="Razon_Social" name="Razon_Social" ng_model="empresa.Razon_Social" disabled>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Nombre_Fantasia" class="control-label">Nombre Fantasia</label>
                    <input type="text" class="form-control" id="Nombre_Fantasia" name="Nombre_Fantasia" ng_model="empresa.Nombre_Fantasia" disabled>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Email_Particular" class="control-label">Email Particular</label>
                    <input type="text" class="form-control" id="Email_Particular" name="Email_Particular" ng_model="empresa.Email_Particular" disabled>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 text-right">
                <a class="btn btn-default" href="#!/empresas">← Volver </a>
                <button class="btn btn-primary" ng-disabled="frmEmpresa.$invalid" ng-click="guardar()"> <i ng-show="completando_tarea" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!completando_tarea">Resetear</span> <span ng-show="completando_tarea">Espere un Momento, Reseteando Clave</span> </button>

            </div>
        </div>

    </form>

</div>
