﻿


    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Recepcionar Documento</h3>


    </div>
    <br />
    <br />
    <form class="form" name="frmTarea" novalidate>
        <!--<div class="form-group">
            <label for="selectTipoDocumento" class="control-label">Tipo Documento</label>
            <select class="form-control" name="selectTipoDocumento" ng-model="tarea.Documento.Id_Tipo_Documento">
                <option selected value="0">>> Todos</option>
                <option ng-repeat="tdoc in tipoDocumentos" value="{{tdoc.Id_Tipo_Documento}}">{{tdoc.Nombre_Tipo_Documento}}</option>
            </select>
        </div>-->
        <div class="form-group">
            <label for="Observaciones" class="control-label">Observaciones</label>
            <textarea class="form-control" rows="3" id="Observaciones" name="Observaciones" placeholder="Observaciones" ng-model="tarea.Observaciones" ng-maxlength="250" maxlength="250"></textarea>
            <span ng-show="frmTarea.Observaciones.$touched && frmTarea.Observaciones.$error.maxlength">(*) Solo puede ingresar hasta 250 caracteres</span>
        </div>
        <button class="btn btn-primary pull-right" ng-click="actualizar()">
            Recepcionar el documento
        </button>

    </form>
                        
   






