﻿
    <br>
    <!-- tablas -->
    <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Mis tareas</h2>
    <br />

    <form class="form-inline ">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="selectTamPagina" class="control-label">Mostrando:</label>
                    <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                    <label for="selectTamPagina" class="control-label">Registros</label>
                </div>
            </div>

           
            <div class="col-sm-8 text-right">
                <div class="form-group">
                    <label for="selectEstado" class="control-label">Estado</label>
                    <select class="form-control" name="selectEstado" ng-model="filtro.Id_Estado_Tarea">
                        <option selected value="0">>> Todos</option>
                        <option ng-repeat="est in estados" value="{{est.Id_Estado_Tarea}}">{{est.Nombre_Estado_Tarea}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="filtro.nombre_Solicitante" placeholder="Nombre Solicitante">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary hidden-xs" ng-click="buscar()">Buscar</button>
                    <button type="submit" class="btn btn-primary  visible-xs btn-block" ng-click="buscar()">Buscar</button>
                </div>

            </div>
        </div>
    </form>
     
  <br />
  <div class="row">
      <div class="col-sm-12">
          <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Documento Ingresado Por</th>
                          <th>Nombre Documento</th>
                          <th>Fecha Ingreso Documento</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="t in tareas">
                          <td class="text-left">{{t.Nombre_Tipo_Tarea}}</td>
                          <td class="text-left">{{t.Documento.Nombre_Ingresado_Por}}</td>
                          <td class="text-left">{{t.Documento.Nombre_Documento}}</td>
                          <td class="text-center col-sm-1">{{t.Documento.Fecha_Ingreso | date:dd/mm/yyyy}}</td>
                           <td class="text-center">
                              <a   ng-click="recepcionar(t)" title="Editar"><i class="fa fa-edit" style="font-size:20px;color:darkblue;" aria-hidden="true"></i></a>
                              <a ng-show="t.Estado=='Completada'" href="#!/tarea/ver/{{t.Id_Tarea}}" title="Ver"><i class="fa fa-search" style="font-size:20px;color:darkblue;" aria-hidden="true"></i></a>

                          </td>

                      </tr>
                  </tbody>
              </table>
          </div><!-- /.table-responsive -->
          </div>
      </div>
          <div class="row">
              <div class="col-sm-4">
                  <form class="form-inline">
                      <div class="form-group">
                          <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
                      </div>

                  </form>
              </div>
              <div class="col-sm-8 ">
                  <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.tareaDao.tamacno_pagina" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>

              </div>
          </div>


