﻿
<form class="form" name="frmSolicitud" novalidate>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card-footer text-left">
                <br>
                <!-- tablas -->
                <h2 id="tablas" class="titles-site" style="margin-top:-60px;">{{tarea.Nombre}}</h2>
                <br />
            </div>
        </div>
    </div>

       

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">

                <div id="tabla_destino">
                    <span ng-model="solicitud.Destinos" ng-repeat="s in solicitud.Destinos">{{s.Nombre_Comuna}} {{s.Nombre_Localidad}}, </span>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="Motivo" class="control-label">Motivo</label>
                <!--<select class="form-control" id="Motivo" name="Motivo" ng-model="solicitud.Id_Motivo">
                    <option selected value="0">>> Seleccione</option>
                    <option ng-repeat="m in motivos" value="{{m.Id_Motivo}}">{{m.Nombre_Motivo}}</option>
                </select>-->
                <input class="form-control" ng-model="solicitud.Nombre_Motivo" disabled />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="Objetivo" class="control-label">Objetivo</label>
                <!--<textarea class="form-control" rows="5" id="Objetivo" name="Objetivo" placeholder="Objetivo" ng-model="solicitud.Objetivo" ng-maxlength="500" maxlength="500" required></textarea>-->
                <!--<span ng-show="frmSolicitud.Objetivo.$touched && frmSolicitud.Objetivo.$error.required">(*) Este es un campo requerido</span>
                <span ng-show="frmSolicitud.Objetivo.$touched && frmSolicitud.Objetivo.$error.maxlength">(*) Solo puede ingresar hasta 500 caracteres</span>-->
                <input class="form-control" ng-model="solicitud.Objetivo" disabled />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <div class="form-group">
                <label for="Fecha_Inicio" class="control-label">Fecha Inicio</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="Fecha_Inicio" id="Fecha_Inicio" placeholder="Fecha Inicio" uib-datepicker-popup="dd/MM/yyyy" ng-model="solicitud.Fecha_Inicio" is-open="popup1.opened" ng-required="true" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="open1()">
                            &nbsp;
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
                <!--<span ng-show="frmSolicitud.Fecha_Inicio.$touched && frmSolicitud.Fecha_Inicio.$error.required">Este es un campo requerido</span>
                <span ng-show="frmSolicitud.Fecha_Inicio.$touched && frmSolicitud.Fecha_Inicio.$invalid">Por favor ingrese la fecha en el formato dd/mm/yyyy </span>-->
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Hora_Inicio" class="control-label">Hora Inicio</label>
                <!--<select class="form-control" id="Hora_Inicio" name="Hora_Inicio" ng-model="solicitud.Nombre_Hora_Inicio">
                    <option selected value="0">>> Seleccione</option>
                    <option ng-repeat="hi in horasinicio" value="{{hi.Id_Hora_Inicio}}">{{hi.Nombre_Hora_Inicio}}</option>
                </select>-->
                <input class="form-control" ng-model="solicitud.Nombre_Hora_Inicio" disabled />
                <!--<input ng-maxlength="5" class="form-control" id="Hora_Inicio" name="Hora_Inicio" placeholder="Hora Inicio" ng-model="solicitud.Hora_Inicio" required>
    <span ng-show="frmSolicitud.Hora_Inicio.$touched && frmSolicitud.Hora_Inicio.$error.required">(*) Este es un campo requerido</span>
    <span ng-show="frmSolicitud.Hora_Inicio.$touched && frmSolicitud.Hora_Inicio.$error.max">(*) Hora de Inicio no puede ser mayor a la de término</span>-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <div class="form-group">
                <label for="Fecha_Termino" class="control-label">Fecha Término</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="Fecha_Termino" id="Fecha_Termino" placeholder="Fecha Término" uib-datepicker-popup="dd/MM/yyyy" ng-model="solicitud.Fecha_Termino" is-open="popup2.opened" ng-required="true" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="open2()">
                            &nbsp;
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
              
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="Hora_Termino" class="control-label">Hora Término</label>

                <!--<select class="form-control" id="Hora_Termino" name="Hora_Termino" ng-model="solicitud.Id_Hora_Termino">
                    <option selected value="0">>> Seleccione</option>
                    <option ng-repeat="ht in horastermino" value="{{ht.Id_Hora_Termino}}">{{ht.Nombre_Hora_Termino}}</option>
                </select>-->

                <input class="form-control" ng-model="solicitud.Nombre_Hora_Termino" disabled />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="Con_Viatico" class="control-label">Con Viático</label><br />
                <label><input type="checkbox" checked id="Con_Viatico" name="Con_Viatico" value="">(* Si no corresponde pago de viático, desmarcar)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group p-3 mb-2 bg-warning; text-dark">
                <label for="Codigo_Presupuestario" class="control-label">Código Presupuestario</label>
                <!--<select class="form-control" id="Codigo_Presupuestario" name="Codigo_Presupuestario" ng-model="solicitud.Id_Codigo_Presupuestario">
                    <option selected value="0">>> Seleccione</option>
                    <option ng-repeat="cp in codigospresupuestario" value="{{cp.Id_Codigo_Presupuestario}}">{{cp.Nombre_Codigo_Presupuestario}}</option>
                </select>-->
                <input class="form-control" ng-model="solicitud.Nombre_Codigo_Presupuestario" disabled />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <div class="form-group">
                <label for="Transporte_Ida" class="control-label">Tipo Transporte Ida</label>
                <!--<select class="form-control" id="Tipo_Transporte_Ida" name="Tipo_Transporte_Ida" ng-model="solicitud.Id_Tipo_Transporte_Ida">
                    <option selected value="0">>> Seleccione</option>
                    <option ng-repeat="tti in tipostransporteida" value="{{tti.Id_Tipo_Transporte_Ida}}">{{tti.Nombre_Tipo_Transporte_Ida}}</option>
                </select>-->
                <input class="form-control" ng-model="solicitud.Nombre_Tipo_Transporte_Ida" disabled />
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="Tipo_Transporte_Regreso" class="control-label">Tipo Transporte Regreso</label>
                <!--<select class="form-control" id="Tipo_Transporte_Regreso" name="Tipo_Transporte_Regreso" ng-model="solicitud.Id_Tipo_Transporte_Regreso">
                    <option selected value="0">>> Seleccione</option>
                    <option ng-repeat="ttr in tipostransporteregreso" value="{{ttr.Id_Tipo_Transporte_Regreso}}">{{ttr.Nombre_Tipo_Transporte_Regreso}}</option>
                </select>-->
                <input class="form-control" ng-model="solicitud.Nombre_Tipo_Transporte_Regreso" disabled/>
            </div>
        </div>
    </div>
      


</form>

<div class="row">
    <div class="col-sm-10 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">{{tarea.Nombre}}</div>
            <div class="panel-body">
                <form class="form" name="frmTarea" novalidate>

                    <div class="form-group">
                        <label for="Fecha_Termino" class="control-label">Observación</label>
                        <textarea class="form-control" rows="3" id="Observacion_Asignado" name="Observacion_Asignado" placeholder="Observación" ng-model="tarea.Observacion_Asignado" ng-maxlength="120" maxlength="120"></textarea>
                        <span ng-show="frmTarea.Observacion_Asignado.$touched && frmTarea.Observacion_Asignado.$error.maxlength">(*) Solo puede ingresar hasta 120 caracteres</span>
                    </div>
                    <!--<div class="text-right">
                        <button class="btn btn-primary" ng-disabled="frmSolicitud.$invalid || frmTarea.$invalid" ng-click="iniciar_aprobar()">
                            <i ng-show="aprobando_Solicitud" class="fa fa-spinner fa-spin" aria-hidden="true">
                            </i><span ng-show="!aprobando_Solicitud">Aprobar</span>
                            <span ng-show="aprobando_Solicitud">Espere un Momento Aprobando Solicitud</span>
                        </button>

                        <button class="btn btn-primary" ng-disabled="frmSolicitud.$invalid || frmTarea.$invalid" ng-click="rechazar()">
                            Rechazar
                        </button>

                    </div>-->
                </form>
            </div>

        </div>
    </div>
</div>



<div class="text-right">

    <a class="btn btn-primary" href="#!/tareas">← Volver </a>
</div>

