﻿<br>

<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Trámites disponibles</h3>
<br />
<div class="row" id="search">
    <form id="search-form" action="">

        <div class="form-group col-sm-7 col-xs-6">
            <a ng-show="rol.esAdministrador() " class="btn  btn-primary pull-right" href="#!/empresas/agregar"><i class="fa fa-plus" aria-hidden="true"></i>  Agregar</a>
        </div>
       
        <div class="form-group col-sm-2 col-xs-6">

            <button class="btn btn-block btn-primary pull-right" type="button" ng-click="buscar()"><i class="fa fa-search" aria-hidden="true"></i>  Buscar</button>

        </div>
    </form>
</div>
<br />

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Numero Resolucion</th>
                <th>Fecha Resolucion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in procesos">
                <td>{{p.Nombre_Proceso}}</td>
                <td>{{p.Numero_Resolucion}}</td>
                <td>{{p.Fecha_Resolucion}}</td>
                <td ng-show="p.Vigente==1"><span class="label label-success">Vigente</span></td>
                <td ng-show="p.Vigente==0"><span class="label label-danger">Cerrado</span></td>

                <td align="center">
                    <!--<a href="" title="Ir" role="button" ng-click="guardarTramite(tt)" class="btn btn-primary"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp; Ingreso</a>-->
                    <a class="btn btn-default btn-sm" ng-click="respaldar(p)">     <i class="fa fa-edit" aria-hidden="true"></i> &nbsp; Respaldar</a>
                    <a class="btn btn-default btn-sm" ng-click="tiposExpedientes(p.Id_Proceso)">Tipos de Expedientes</a>
                    <a class="btn btn-default btn-sm" ng-click="proyectos(p.Id_Proceso)">     <i class="fa fa-home" aria-hidden="true"></i> &nbsp; Proyectos</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
            </div>
        </form>
    </div>
    <div class="col-sm-8 ">
        <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>
