*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 100%;
}
body {
    font-family: "Open Sans", sans-serif;
    /*background:#0f69b4;*/

    color: #475156;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
menu,
ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a img {
  float: left;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pos-absoluta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@font-face {
    font-family: 'gobCL';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/gobcl_light-webfont.eot?") format("eot"), url("../fonts/gobcl_light-webfont.woff") format("woff"), url("../fonts/gobcl_light-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "gobCL";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/gobcl_regular-webfont.eot?") format("eot"), url("../fonts/gobcl_regular-webfont.woff") format("woff"), url("../fonts/gobcl_regular-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "gobCL";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/gobcl_bold-webfont.eot?") format("eot"), url("../fonts/gobcl_bold-webfont.woff") format("woff"), url("../fonts/gobcl_bold-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "gobCL";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/gobcl_heavy-webfont.eot?") format("eot"), url("../fonts/gobcl_heavy-webfont.woff") format("woff"), url("../fonts/gobcl_heavy-webfont.ttf") format("truetype");
}
.gobcl {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}
.opensans {
  font-family: "Open Sans", sans-serif;
}
.georgia {
  font-family: Georgia, Times, "Times New Roman", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}
h1 {
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 500;
}
h2 {
  font-size: 45px;
  line-height: 1.1em;
  font-weight: 500;
}
h3 {
  font-size: 32px;
  line-height: 1.1em;
  font-weight: 500;
}
h4 {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 500;
}
h5 {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
}
h6 {
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
}
p {
  margin: 0 auto 15px;
  font-size: 14px;
}
a.boton {
  width: 100%;
  display: block;
  background: #efefef;
  border-bottom: 2px solid #bdc9d1;
  padding: 14px 15px 8px;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}
a.boton:hover {
  color: #fff;
  background: #0f69b4;
  border-bottom: 2px solid #045282;
}
a#menu-movil-trigger {
  display: none;
  visibility: hidden;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  border-bottom: 2px solid #bdc9d1;
  height: 50px;
  padding: 18px 0 0;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  text-align: center;
}
a#menu-movil-trigger:hover {
  border-bottom: 2px solid #0f69b4;
  color: #0f69b4;
}
a#menu-movil-cerrar {
  cursor: pointer;
}
.banner {
  margin: 0 auto 20px;
  display: block;
  position: relative;
  border-bottom: 2px solid #bdc9d1;
}
.banner a {
  display: block;
}
.banner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.banner.banner-foto {
  width: 660px;
  min-height: 130px;
}
.banner.banner-foto a {
  width: 100%;
  height: 100%;
}
.banner.banner-foto .velo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
.banner.banner-foto .texto {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  color: #fff;
  position: absolute;
  right: 115px;
  bottom: 12px;
  z-index: 10;
}
.banner.banner-foto .texto span {
  display: block;
  font-size: 24px;
  line-height: 120%;
}
.banner.banner-foto .texto span strong {
  font-weight: 700;
  font-size: 32px;
}
.banner.banner-corto {
  width: 320px;
}
.bicolor {
  position: relative;
  min-height: 1px;
}
.bicolor span {
  display: block;
  float: left;
  height: 100%;
}
.bicolor span.azul {
  background: #0f69b4;
  width: 46%;
}
.bicolor span.rojo {
  background: #eb3646;
  width: 54%;
}
#menu-movil {
  display: none;
  background: #fff;
  padding: 0 0 10px;
}
#menu-movil nav {
  color: #475156;
}
#menu-movil nav ul li {
  border-top: 1px solid #e6e6e6;
}
#menu-movil nav ul li a {
  display: block;
  padding: 5px;
}
#menu-movil nav ul li a:hover {
  color: #0f69b4;
}
#menu-movil nav ul li ul {
  padding: 0 0 0 40px;
}
.redes-lista {
  margin: 0 auto 20px;
  font-size: 14px;
}
.redes-lista ul li {
  margin: 0 auto 8px;
}
.redes-lista ul li a {
  display: block;
  width: 100%;
  padding: 5px;
  border-bottom: 2px solid #bdc9d1;
  color: #475156;
  background: #fff;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.redes-lista ul li a span {
  display: block;
  float: left;
  padding: 5px 0 0;
}
.redes-lista ul li a span.icono {
  width: 30px;
  height: 30px;
  margin: 0 12px 0 0;
  background: url("../img/svg/lista-redes-sprite.svg");
  background-size: 330px auto;
  background-repeat: no-repeat;
}
.redes-lista ul li a span.red {
  font-weight: bold;
  margin: 0 5px 0 0;
}
.redes-lista ul li a span.usuario {
  font-style: italic;
  color: #7a8791;
}
.redes-lista ul li a:hover {
  color: #fff;
}
.redes-lista ul li a:hover .usuario {
  color: #fff;
}
.redes-lista ul li#facebook a .icono {
  background-position: 0px 0px;
}
.redes-lista ul li#facebook a:hover {
  background: #0070bb;
  border-bottom: 2px solid #00426e;
}
.redes-lista ul li#facebook a:hover .icono {
  background-position: 0px -30px;
}
.redes-lista ul li#twitter a .icono {
  background-position: -30px 0px;
}
.redes-lista ul li#twitter a:hover {
  background: #3fa9f5;
  border-bottom: 2px solid #0b85dc;
}
.redes-lista ul li#twitter a:hover .icono {
  background-position: -30px -30px;
}
.redes-lista ul li#flickr a .icono {
  background-position: -60px 0px;
}
.redes-lista ul li#flickr a:hover {
  background: #ec1e79;
  border-bottom: 2px solid #af0f55;
}
.redes-lista ul li#flickr a:hover .icono {
  background-position: -60px -30px;
}
.redes-lista ul li#youtube a .icono {
  background-position: -90px 0px;
}
.redes-lista ul li#youtube a:hover {
  background: #e52c26;
  border-bottom: 2px solid #aa1914;
}
.redes-lista ul li#youtube a:hover .icono {
  background-position: -90px -30px;
}
.redes-lista ul li#instagram a .icono {
  background-position: -120px 0px;
}
.redes-lista ul li#instagram a:hover {
  background: #3f6d94;
  border-bottom: 2px solid #28455e;
}
.redes-lista ul li#instagram a:hover .icono {
  background-position: -120px -30px;
}
.redes-lista ul li#pinterest a .icono {
  background-position: -150px 0px;
}
.redes-lista ul li#pinterest a:hover {
  background: #cc2127;
  border-bottom: 2px solid #8a161a;
}
.redes-lista ul li#pinterest a:hover .icono {
  background-position: -150px -30px;
}
.redes-lista ul li#vimeo a .icono {
  background-position: -180px 0px;
}
.redes-lista ul li#vimeo a:hover {
  background: #1ab7ea;
  border-bottom: 2px solid #0f83a8;
}
.redes-lista ul li#vimeo a:hover .icono {
  background-position: -180px -30px;
}
.redes-lista ul li#linkedin a .icono {
  background-position: -210px 0px;
}
.redes-lista ul li#linkedin a:hover {
  background: #0976b4;
  border-bottom: 2px solid #05466b;
}
.redes-lista ul li#linkedin a:hover .icono {
  background-position: -210px -30px;
}
.redes-lista ul li#slideshare a .icono {
  background-position: -240px 0px;
}
.redes-lista ul li#slideshare a:hover {
  background: #19a7a8;
  border-bottom: 2px solid #0f6565;
}
.redes-lista ul li#slideshare a:hover .icono {
  background-position: -240px -30px;
}
.redes-lista ul li#scribd a .icono {
  background-position: -270px 0px;
}
.redes-lista ul li#scribd a:hover {
  background: #135987;
  border-bottom: 2px solid #0a2d44;
}
.redes-lista ul li#scribd a:hover .icono {
  background-position: -270px -30px;
}
.redes-lista ul li#soundcloud a .icono {
  background-position: -300px 0px;
}
.redes-lista ul li#soundcloud a:hover {
  background: #fd650c;
  border-bottom: 2px solid #bb4602;
}
.redes-lista ul li#soundcloud a:hover .icono {
  background-position: -300px -30px;
}
.banners-mosaico {
  width: 1020px;
  margin: 0 auto 10px;
}
.banners-mosaico .banner-corto {
  float: left;
  margin: 0 20px 20px 0;
}
.fotodeldia {
  margin: 0 auto 20px;
}
.fotodeldia .bicolor {
  height: 3px;
}
.fotodeldia a.foto {
  background: #fff;
  display: block;
}
.fotodeldia a.foto h5 {
  color: #0f69b4;
  padding: 11px 0 6px;
  margin: 0 15px;
  border-bottom: 1px solid #e6e6e6;
}
.fotodeldia a.foto p {
  color: #7a8791;
  padding: 7px 15px 10px;
  line-height: 140%;
  font-size: 12px;
  margin: 0 auto;
}
.fotodeldia a.mas-fotos {
  font-size: 12px;
}
#cita-destacada {
  background: #fff;
  margin: 0 auto 25px;
  border-bottom: 2px solid #bdc9d1;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}
#cita-destacada .bicolor {
  height: 2px;
}
#cita-destacada .left {
  width: 330px;
  padding: 0 20px;
  margin: 30px 0 0;
  float: left;
}
#cita-destacada .left .texto {
  padding: 0 0 0 35px;
  background: url("../img/svg/cita-destacada-bg.svg") no-repeat;
  background-size: 23px auto;
  background-position: 0 5px;
}
#cita-destacada .left .texto span {
  display: block;
  line-height: 110%;
}
#cita-destacada .left .texto span.nombre {
  color: #0f69b4;
  font-size: 29px;
}
#cita-destacada .left .texto span.descripcion {
  color: #2e353a;
}
#cita-destacada .left .texto span.usuario {
  color: #7a8791;
}
#cita-destacada .right {
  width: 670px;
  padding: 0 30px;
  margin: 30px 0 20px;
  float: left;
  border-left: 1px solid #bdc9d1;
}
#cita-destacada .right .texto {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #475156;
  font-size: 23px;
  line-height: 140%;
  margin: 0 auto 35px;
}
#cita-destacada .right .fecha {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  color: #7a8791;
}
.wp-pagenavi {
  font-size: 16px;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}
.wp-pagenavi a {
  display: block;
  float: left;
  padding: 5px 5px 2px;
  color: #7a8791;
}
.wp-pagenavi a:hover {
  text-decoration: underline;
}
.wp-pagenavi a.page {
  margin: 0 5px;
}
.wp-pagenavi a.previouspostslink,
.wp-pagenavi a.nextpostslink {
  font-weight: 700;
}
.wp-pagenavi span {
  display: block;
  float: left;
}
.wp-pagenavi span.current {
  padding: 5px 5px 2px;
  color: #e6e6e6;
  background: #7a8791;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
header {
  width: 100%;
  height: 250px;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 20px;
}
header .wrap {
  height: 100%;
}
header h1#logo-main {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
header h1#logo-main a {
  display: block;
  width: 180px;
  height: auto;
}
header h1#logo-main a img {
  max-width: 100%;
  height: auto;
}
header nav#menu-principal {
  color: #475156;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  width: 100%;
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
header nav#menu-principal ul {
  background: #fff;
  display: table-row;
  padding: 0;
  margin: 0;
}
header nav#menu-principal ul li {
  margin: 0;
  display: table-cell;
  text-align: center;
  position: relative;
}
header nav#menu-principal ul li a {
  height: 50px;
  padding: 18px 0 12px 0;
  display: block;
  border-right: 1px solid #e6e6e6;
  border-bottom: 2px solid #bdc9d1;
}
header nav#menu-principal ul li a:hover {
  color: #0f69b4;
  border-bottom: 2px solid #0f69b4;
  text-decoration: none;
}
header nav#menu-principal ul li:last-child a {
  border-right: none;
}
header nav#menu-principal ul li.current-menu-item a,
header nav#menu-principal ul li.current-menu-ancestor a {
  color: #0f69b4;
  border-bottom: 2px solid #0f69b4;
}
header nav#menu-principal ul li.menu-item-80 a,
header nav#menu-principal ul li.menu-item-477 a {
  background: #efefef;
}
header nav#menu-principal ul li ul.sub-menu {
  position: absolute;
  z-index: 9;
  background: #0f69b4;
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
}
header nav#menu-principal ul li ul.sub-menu li {
  float: none;
  text-align: center;
  border-bottom: 1px solid #3091C1;
  display: block;
}
header nav#menu-principal ul li ul.sub-menu li a {
  padding: 10px 5px;
  color: #fff;
  border: none;
  font-size: 12px;
  height: auto;
}
header nav#menu-principal ul li ul.sub-menu li a:hover {
  background: #045282;
}
header nav#menu-principal ul li ul.sub-menu li:hover ul.sub-menu {
  display: block;
}
header nav#menu-principal ul li:hover ul.sub-menu {
  display: block;
}
#content {
  margin: 0 auto 25px;
}
#content h5.titulo-seccion {
  margin: 0 auto 15px;
}
#content #main {
  width: 660px;
  float: left;
}
#content #main #breadcrumbs {
  margin: 0 0 14px;
  color: #475156;
}
#content #main #breadcrumbs ul li {
  float: left;
}
#content #main #breadcrumbs ul li.sep {
  margin: 0 5px;
}
#content #main #breadcrumbs ul li a:hover {
  text-decoration: underline;
}
#content #main .post {
  background: #fff;
}
#content #main .post .texto p {
  margin: 0 auto;
  line-height: 140%;
}
#content #main .post img {
  max-width: 100%;
  height: auto;
}
#content #main .post img.alignleft {
  float: left;
  margin: 0 15px 10px 0;
}
#content #main .post img.alignright {
  float: right;
  margin: 0 0 10px 15px;
}
#content #main .post img.aligncenter {
  float: none;
  margin: 0 auto 10px;
  clear: both;
  display: block;
}
#content #main .post iframe,
#content #main .post object {
  max-width: 100%;
}
#content #main .stream {
  margin: 0 auto 15px;
}
#content #main .stream .tarjeta {
  border-bottom: 2px solid #bdc9d1;
  margin: 0 0 20px;
}
#content #main .stream .tarjeta .pic {
  width: 320px;
  height: 210px;
  float: left;
}
#content #main .stream .tarjeta .pic a img {
  width: 100%;
  height: auto;
}
#content #main .stream .tarjeta .texto {
  width: 340px;
  padding: 20px;
  float: left;
}
#content #main .stream .tarjeta .texto h4 {
  color: #0f69b4;
  margin: 0 auto 15px;
}
#content #main .stream .tarjeta .texto h4 a:hover {
  color: #045282;
}
#content #main .stream .tarjeta .texto p {
  font-size: 12px;
  line-height: 150%;
}
#content #main .stream .tarjeta .meta {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 700;
  color: #7a8791;
  display: block;
  font-size: 12px;
  margin: 0 0 15px;
}
#content #main .stream .tarjeta.destacado .pic {
  width: 100%;
  height: auto;
  float: none;
  clear: both;
}
#content #main .stream .tarjeta.destacado .pic img {
  width: 100%;
  height: auto;
}
#content #main .stream .tarjeta.destacado .texto {
  padding: 20px;
  float: none;
  clear: both;
  width: 100%;
}
#content #main .stream .tarjeta.destacado .texto .left {
  float: left;
  width: 300px;
  margin: 0 20px 0 0;
}
#content #main .stream .tarjeta.destacado .texto .right {
  float: left;
  width: 300px;
}
#content #main .stream .tarjeta.destacado .social {
  display: block;
  clear: both;
  padding: 0 20px;
  margin: 10px auto 25px;
}
#content #main .stream .tarjeta.destacado .social ul li {
  float: left;
  margin: 0 10px 8px 0;
}
#content #main .buscar {
  margin: 0 auto 20px;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}
#content #main .buscar label {
  display: block;
  clear: both;
  font-size: 18px;
  font-weight: 500;
  color: #475156;
}
#content #main .buscar input {
  margin: 0;
  display: block;
  border: none;
  background: none;
  height: 42px;
  border-top: 2px solid #bdc9d1;
  float: left;
}
#content #main .buscar input#query {
  width: 620px;
  background: #fff;
  color: #7a8791;
  padding: 6px 15px 0;
}
#content #main .buscar input#boton {
  width: 40px;
  background: #0f69b4 url("../img/svg/buscar-bg.svg") no-repeat center;
  background-size: 18px;
  text-indent: 1000%;
}
#content #main .buscar input#boton:hover {
  background-color: #0b4e85;
}
#content #sidebar {
  width: 320px;
  margin: 0 0 0 20px;
  float: left;
}
#content #sidebar .lista-sidebar {
  background: #fff;
  padding: 20px 20px 25px;
  border-bottom: 2px solid #bdc9d1;
  margin: 33px auto 0;
}
#content #sidebar .lista-sidebar h5 {
  margin: 0 0 12px;
  color: #0f69b4;
}
#content #sidebar .lista-sidebar ul {
  padding: 0 0 0 16px;
}
#content #sidebar .lista-sidebar ul li {
  font-size: 12px;
  margin: 0 0 5px;
  list-style: disc;
}
#content #sidebar .lista-sidebar ul li a:hover {
  color: #2e353a;
}
footer .wrap {
  background: #fff;
}
footer .bicolor {
  height: 2px;
}
footer .top .listas {
  padding: 25px 0 0;
  float: left;
}
footer .top .listas .lista {
  width: 320px;
  float: left;
  padding: 5px 35px 30px;
  border-right: 1px solid #e6e6e6;
}
footer .top .listas .lista:last-child {
  border-right: none;
}
footer .top .listas .lista h5 {
  margin: 0 0 20px;
  color: #0f69b4;
}
footer .top .listas .lista ul {
  padding: 0 0 0 16px;
}
footer .top .listas .lista ul li {
  font-size: 12px;
  margin: 0 0 5px;
  list-style: disc;
}
footer .top .listas .lista ul li a:hover {
  color: #2e353a;
}
footer .top .listas .lista ul li.chileatiende {
  list-style: none;
}
footer .top .listas .lista ul li.chileatiende > a {
  display: block;
  margin: 25px 0 5px -15px;
  padding: 0 0 0 22px;
  background: url("../img/footer-chileatiende.png") no-repeat center left;
}
footer .top .listas .lista ul li.chileatiende ul.sub-menu {
  padding: 0 0 0 25px;
}
footer .top .listas .lista.contactate p {
  font-size: 12px;
  line-height: 180%;
  margin: 0 0 20px;
}
footer .top .listas .lista.contactate a {
  display: block;
  padding: 12px 15px 10px;
  background: #efefef;
  border-bottom: 2px solid #bdc9d1;
  font-size: 16px;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  margin: 0 auto;
}
footer .top .listas .lista.contactate a:hover {
  color: #fff;
  background: #0f69b4;
  border-bottom: 2px solid #045282;
}
footer .top .listas .lista ul#menu-banners-footer {
  list-style: none;
  padding: 0;
  border-top: 1px solid #bdc9d1;
}
footer .top .listas .lista ul#menu-banners-footer li {
  list-style: none;
  margin: 0;
}
footer .top .listas .lista ul#menu-banners-footer li a {
  display: block;
  width: 260px;
  height: 45px;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #0f69b4;
  padding: 17px 0 0 12px;
  background: url("../img/banners-footer-bullet.png") no-repeat left center;
  border-bottom: 1px solid #bdc9d1;
}
footer .top .listas .lista ul#menu-banners-footer li a:hover {
  background: #0f69b4 url("../img/banners-footer-bullet-hover.png") no-repeat left center;
  color: #fff;
}
footer .top .sep {
  max-width: 100%;
  height: 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 20px;
}
footer .bottom {
  padding: 15px 20px 0;
  font-size: 12px;
  color: #475156;
}
footer .bottom .left {
  float: left;
}
footer .bottom nav {
  float: right;
}
footer .bottom nav ul li {
  float: left;
  border-right: 1px solid #475156;
}
footer .bottom nav ul li a {
  display: block;
  padding: 0 6px;
}
footer .bottom nav ul li a:hover {
  text-decoration: underline;
}
footer .bottom nav ul li:last-child {
  border-right: none;
}
footer .bottom nav ul li:last-child a {
  padding: 0 0 0 6px;
}
footer .bottom .bicolor {
  margin: 25px 0 0;
  width: 170px;
  height: 20px;
}
.single #content #main .post img,
.page #content #main .post img,
.error404 #content #main .post img {
  max-width: 100%;
  height: auto;
}
.single #content #main .post .pic img,
.page #content #main .post .pic img,
.error404 #content #main .post .pic img {
  float: left;
}
.single #content #main .post .social,
.page #content #main .post .social,
.error404 #content #main .post .social {
  float: left;
  margin: 25px 0 0 30px;
}
.single #content #main .post .social ul li,
.page #content #main .post .social ul li,
.error404 #content #main .post .social ul li {
  margin: 0 10px 0 0;
  float: left;
}
.single #content #main .post .post-header,
.page #content #main .post .post-header,
.error404 #content #main .post .post-header {
  width: 100%;
  height: 220px;
  color: #fff;
  padding: 135px 30px 30px;
  background-repeat: no-repeat;
}
.single #content #main .post .post-header h3,
.page #content #main .post .post-header h3,
.error404 #content #main .post .post-header h3 {
  font-weight: 300;
  margin: 0 auto;
}
.single #content #main .post .post-header h4,
.page #content #main .post .post-header h4,
.error404 #content #main .post .post-header h4 {
  font-weight: 700;
  margin: 0 auto;
}
.single #content #main .post .fontsize,
.page #content #main .post .fontsize,
.error404 #content #main .post .fontsize {
  float: right;
  margin: 25px 45px 0 0;
}
.single #content #main .post .fontsize ul li,
.page #content #main .post .fontsize ul li,
.error404 #content #main .post .fontsize ul li {
  float: left;
  margin: 0 0 0 4px;
}
.single #content #main .post .fontsize ul li a,
.page #content #main .post .fontsize ul li a,
.error404 #content #main .post .fontsize ul li a {
  cursor: pointer;
  display: block;
  background: #bdc9d1;
  color: #fff;
  font-weight: 700;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  padding: 3px 2px 0;
  text-align: right;
}
.single #content #main .post .fontsize ul li.small a,
.page #content #main .post .fontsize ul li.small a,
.error404 #content #main .post .fontsize ul li.small a {
  width: 14px;
  height: 14px;
  font-size: 12px;
  margin: 8px 0 0;
}
.single #content #main .post .fontsize ul li.medium a,
.page #content #main .post .fontsize ul li.medium a,
.error404 #content #main .post .fontsize ul li.medium a {
  width: 18px;
  height: 18px;
  font-size: 16px;
  margin: 4px 0 0;
}
.single #content #main .post .fontsize ul li.large a,
.page #content #main .post .fontsize ul li.large a,
.error404 #content #main .post .fontsize ul li.large a {
  width: 22px;
  height: 22px;
  font-size: 20px;
}
.single #content #main .post .fontsize ul li.current a,
.page #content #main .post .fontsize ul li.current a,
.error404 #content #main .post .fontsize ul li.current a {
  background: #0f69b4;
}
.single #content #main .post .fontsize ul li:hover a,
.page #content #main .post .fontsize ul li:hover a,
.error404 #content #main .post .fontsize ul li:hover a {
  background: #0f69b4;
}
.single #content #main .post .texto,
.page #content #main .post .texto,
.error404 #content #main .post .texto {
  padding: 25px 30px 50px;
}
.single #content #main .post .texto .meta,
.page #content #main .post .texto .meta,
.error404 #content #main .post .texto .meta {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  display: block;
  margin: 0 0 15px;
}
.single #content #main .post .texto h3,
.page #content #main .post .texto h3,
.error404 #content #main .post .texto h3 {
  color: #0f69b4;
  padding: 0 0 15px;
  margin: 0 0 25px;
  border-bottom: 1px solid #bdc9d1;
}
.single #content #main .post .texto .contenido,
.page #content #main .post .texto .contenido,
.error404 #content #main .post .texto .contenido {
  color: #475156;
}
.single #content #main .post .texto .contenido a,
.page #content #main .post .texto .contenido a,
.error404 #content #main .post .texto .contenido a {
  color: #0f69b4;
}
.single #content #main .post .texto .contenido a:hover,
.page #content #main .post .texto .contenido a:hover,
.error404 #content #main .post .texto .contenido a:hover {
  color: #045282;
  text-decoration: underline;
}
.single #content #main .post .texto .contenido a.twitter-link,
.page #content #main .post .texto .contenido a.twitter-link,
.error404 #content #main .post .texto .contenido a.twitter-link {
  background: #abddef url("../img/twitter-mini.png") no-repeat top left;
  padding: 5px 10px 5px 35px;
  color: #fff;
  text-decoration: none;
}
.single #content #main .post .texto .contenido a.twitter-link:hover,
.page #content #main .post .texto .contenido a.twitter-link:hover,
.error404 #content #main .post .texto .contenido a.twitter-link:hover {
  background-color: #29ABE2;
}
.single #content #main .post .texto .contenido h3,
.page #content #main .post .texto .contenido h3,
.error404 #content #main .post .texto .contenido h3 {
  font-weight: 300;
  margin: 0 0 30px;
}
.single #content #main .post .texto .contenido h4,
.page #content #main .post .texto .contenido h4,
.error404 #content #main .post .texto .contenido h4 {
  margin: 0 0 13px;
  font-weight: 300;
}
.single #content #main .post .texto .contenido h5,
.page #content #main .post .texto .contenido h5,
.error404 #content #main .post .texto .contenido h5 {
  color: #0f69b4;
  margin: 0 0 10px;
}
.single #content #main .post .texto .contenido blockquote,
.page #content #main .post .texto .contenido blockquote,
.error404 #content #main .post .texto .contenido blockquote {
  border-left: 2px solid #0f69b4;
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 160%;
}
.single #content #main .post .texto .contenido blockquote p,
.page #content #main .post .texto .contenido blockquote p,
.error404 #content #main .post .texto .contenido blockquote p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 35px;
}
.single #content #main .post .texto .contenido p,
.page #content #main .post .texto .contenido p,
.error404 #content #main .post .texto .contenido p {
  line-height: 180%;
  margin: 0 0 25px;
}
.single #content #main .post .texto .contenido iframe,
.page #content #main .post .texto .contenido iframe,
.error404 #content #main .post .texto .contenido iframe,
.single #content #main .post .texto .contenido object,
.page #content #main .post .texto .contenido object,
.error404 #content #main .post .texto .contenido object {
  max-width: 100%;
}
.single #content #main .post .texto .contenido ol,
.page #content #main .post .texto .contenido ol,
.error404 #content #main .post .texto .contenido ol,
.single #content #main .post .texto .contenido ul,
.page #content #main .post .texto .contenido ul,
.error404 #content #main .post .texto .contenido ul {
  padding-left: 25px;
  margin-bottom: 15px;
}
.single #content #main .post .texto .contenido ol li,
.page #content #main .post .texto .contenido ol li,
.error404 #content #main .post .texto .contenido ol li,
.single #content #main .post .texto .contenido ul li,
.page #content #main .post .texto .contenido ul li,
.error404 #content #main .post .texto .contenido ul li {
  margin-bottom: 5px;
}
.single #content #main .post .texto .contenido ol ol,
.page #content #main .post .texto .contenido ol ol,
.error404 #content #main .post .texto .contenido ol ol,
.single #content #main .post .texto .contenido ul ol,
.page #content #main .post .texto .contenido ul ol,
.error404 #content #main .post .texto .contenido ul ol,
.single #content #main .post .texto .contenido ol ul,
.page #content #main .post .texto .contenido ol ul,
.error404 #content #main .post .texto .contenido ol ul,
.single #content #main .post .texto .contenido ul ul,
.page #content #main .post .texto .contenido ul ul,
.error404 #content #main .post .texto .contenido ul ul {
  margin-bottom: 0;
}
.single #content #main .post .texto .contenido ol li,
.page #content #main .post .texto .contenido ol li,
.error404 #content #main .post .texto .contenido ol li {
  list-style: decimal;
}
.single #content #main .post .texto .contenido ol li ol,
.page #content #main .post .texto .contenido ol li ol,
.error404 #content #main .post .texto .contenido ol li ol {
  list-style: decimal;
}
.single #content #main .post .texto .contenido ul li,
.page #content #main .post .texto .contenido ul li,
.error404 #content #main .post .texto .contenido ul li {
  list-style: disc;
}
.single #content #main .post .texto .contenido ul li ul li,
.page #content #main .post .texto .contenido ul li ul li,
.error404 #content #main .post .texto .contenido ul li ul li {
  list-style: circle;
}
.single #content #main.autoridades-lista .post .pic,
.page #content #main.autoridades-lista .post .pic,
.error404 #content #main.autoridades-lista .post .pic {
  width: 170px;
  height: 170px;
}
.single #content #main.autoridades-lista .post .texto,
.page #content #main.autoridades-lista .post .texto,
.error404 #content #main.autoridades-lista .post .texto {
  width: 490px;
  padding: 20px 20px 10px;
}
.single #content #main.autoridades-lista .post .texto h4,
.page #content #main.autoridades-lista .post .texto h4,
.error404 #content #main.autoridades-lista .post .texto h4 {
  margin: 0 0 10px;
  padding: 0;
  border-bottom: none;
}
.single #content #main.autoridades-lista .post .texto h5.cargo,
.page #content #main.autoridades-lista .post .texto h5.cargo,
.error404 #content #main.autoridades-lista .post .texto h5.cargo {
  margin: 0 0 3px;
  color: #475156;
}
.single #content #main.autoridades-lista .post .texto h5.institucion,
.page #content #main.autoridades-lista .post .texto h5.institucion,
.error404 #content #main.autoridades-lista .post .texto h5.institucion {
  margin: 0 0 35px;
  color: #7a8791;
}
.single #content #main.autoridades-lista .post .texto .links a,
.page #content #main.autoridades-lista .post .texto .links a,
.error404 #content #main.autoridades-lista .post .texto .links a {
  display: block;
  float: left;
  color: #0f69b4;
  font-size: 12px;
  margin: 5px 0 0;
  padding: 0 7px;
  border-left: 1px solid #0f69b4;
}
.single #content #main.autoridades-lista .post .texto .links a:first-child,
.page #content #main.autoridades-lista .post .texto .links a:first-child,
.error404 #content #main.autoridades-lista .post .texto .links a:first-child {
  border-left: none;
  padding: 0 7px 0 0;
}
.single #content #main.autoridades-lista .post .texto .links a:hover,
.page #content #main.autoridades-lista .post .texto .links a:hover,
.error404 #content #main.autoridades-lista .post .texto .links a:hover {
  text-decoration: underline;
}
.single #content #main.autoridades-single .post,
.page #content #main.autoridades-single .post,
.error404 #content #main.autoridades-single .post {
  background: none;
}
.single #content #main.autoridades-single .post .info,
.page #content #main.autoridades-single .post .info,
.error404 #content #main.autoridades-single .post .info {
  width: 170px;
  float: left;
}
.single #content #main.autoridades-single .post .info .pic,
.page #content #main.autoridades-single .post .info .pic,
.error404 #content #main.autoridades-single .post .info .pic {
  margin: 0 0 15px;
}
.single #content #main.autoridades-single .post .info .pic img,
.page #content #main.autoridades-single .post .info .pic img,
.error404 #content #main.autoridades-single .post .info .pic img {
  float: left;
}
.single #content #main.autoridades-single .post .info ul,
.page #content #main.autoridades-single .post .info ul,
.error404 #content #main.autoridades-single .post .info ul {
  padding: 0 10px 0 0;
}
.single #content #main.autoridades-single .post .info ul li,
.page #content #main.autoridades-single .post .info ul li,
.error404 #content #main.autoridades-single .post .info ul li {
  margin: 0 0 10px;
}
.single #content #main.autoridades-single .post .info ul li label,
.page #content #main.autoridades-single .post .info ul li label,
.error404 #content #main.autoridades-single .post .info ul li label {
  display: block;
  color: #475156;
  font-weight: bold;
}
.single #content #main.autoridades-single .post .info ul li span,
.page #content #main.autoridades-single .post .info ul li span,
.error404 #content #main.autoridades-single .post .info ul li span {
  display: block;
  color: #0f69b4;
}
.single #content #main.autoridades-single .post .texto,
.page #content #main.autoridades-single .post .texto,
.error404 #content #main.autoridades-single .post .texto {
  background: #fff;
  width: 490px;
  float: left;
  padding: 25px 20px 20px;
  border-bottom: 2px solid #bdc9d1;
}
.single #content #main.autoridades-single .post .texto h3.title,
.page #content #main.autoridades-single .post .texto h3.title,
.error404 #content #main.autoridades-single .post .texto h3.title {
  color: #0f69b4;
  margin: 0 0 5px;
  padding: 0;
  border-bottom: none;
}
.single #content #main.autoridades-single .post .texto h3,
.page #content #main.autoridades-single .post .texto h3,
.error404 #content #main.autoridades-single .post .texto h3 {
  margin: 0 0 30px;
}
.single #content #main.autoridades-single .post .texto .contenido h3,
.page #content #main.autoridades-single .post .texto .contenido h3,
.error404 #content #main.autoridades-single .post .texto .contenido h3 {
  font-weight: 300;
  margin: 0 0 30px;
}
.single #content #main.autoridades-single .post .texto .contenido h4,
.page #content #main.autoridades-single .post .texto .contenido h4,
.error404 #content #main.autoridades-single .post .texto .contenido h4 {
  color: #0f69b4;
  margin: 0 0 13px;
}
.single #content #main.autoridades-single .post .texto .contenido h5,
.page #content #main.autoridades-single .post .texto .contenido h5,
.error404 #content #main.autoridades-single .post .texto .contenido h5 {
  color: #0f69b4;
  margin: 0 0 10px;
}
.single #content #main.autoridades-single .post .texto .contenido blockquote,
.page #content #main.autoridades-single .post .texto .contenido blockquote,
.error404 #content #main.autoridades-single .post .texto .contenido blockquote {
  border-left: 2px solid #0f69b4;
  margin: 0;
  padding: 0 0 0 20px;
}
.single #content #main.autoridades-single .post .texto .contenido blockquote p,
.page #content #main.autoridades-single .post .texto .contenido blockquote p,
.error404 #content #main.autoridades-single .post .texto .contenido blockquote p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 35px;
}
.single #content #main.autoridades-single .post .texto .contenido p,
.page #content #main.autoridades-single .post .texto .contenido p,
.error404 #content #main.autoridades-single .post .texto .contenido p {
  line-height: 180%;
  margin: 0 0 25px;
}
.single #content #main.autoridades-single .post .texto .contenido .datos,
.page #content #main.autoridades-single .post .texto .contenido .datos,
.error404 #content #main.autoridades-single .post .texto .contenido .datos {
  margin: 0 0 10px;
}
.single #content #main.autoridades-single .post .texto .contenido .datos h6,
.page #content #main.autoridades-single .post .texto .contenido .datos h6,
.error404 #content #main.autoridades-single .post .texto .contenido .datos h6 {
  font-size: 18px;
  font-weight: 300;
  color: #7a8791;
  margin: 0 0 20px;
}
.single #content #main.autoridades-single .post .texto .contenido .datos ul li span,
.page #content #main.autoridades-single .post .texto .contenido .datos ul li span,
.error404 #content #main.autoridades-single .post .texto .contenido .datos ul li span {
  display: block;
}
.single #content #main.autoridades-single .post .texto .contenido .datos ul li span.title,
.page #content #main.autoridades-single .post .texto .contenido .datos ul li span.title,
.error404 #content #main.autoridades-single .post .texto .contenido .datos ul li span.title {
  font-weight: 700;
  margin: 0 0 2px;
}
.single #content #main.autoridades-single .post .texto .contenido .datos.lista ul li,
.page #content #main.autoridades-single .post .texto .contenido .datos.lista ul li,
.error404 #content #main.autoridades-single .post .texto .contenido .datos.lista ul li {
  margin: 0 0 20px;
}
.single #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li,
.page #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li,
.error404 #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li {
  margin: 0 0 25px;
}
.single #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span,
.page #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span,
.error404 #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span {
  float: left;
}
.single #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.title,
.page #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.title,
.error404 #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.title {
  width: 90px;
  padding: 0 10px 0 0;
  text-align: right;
}
.single #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.dato,
.page #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.dato,
.error404 #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.dato {
  width: 360px;
}
.error404 #content #main .post .texto {
  padding: 25px 30px;
  margin: 0 auto 30px;
}
@media only screen and (max-width: 1040px) {
  .redes-mosaico h4 {
    float: none;
    padding: 0;
    margin: 0 0 8px;
  }
  .redes-mosaico ul li {
    margin: 0 30px 0 0;
  }
  #tweet-destacado .left {
    width: 100%;
  }
  #tweet-destacado .right {
    width: 100%;
    border-left: none;
  }
  .banners-mosaico {
    width: 680px;
  }
  .wrap {
    width: 660px;
  }
  #content #main {
    width: 100%;
    float: none;
    margin: 0 auto 20px;
  }
  #content #sidebar {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  #content #sidebar .redes-lista {
    width: 320px;
    float: left;
    margin: 0 20px 0 0;
  }
  #content #sidebar .fotodeldia {
    display: none;
    visibility: hidden;
  }
  #content #sidebar .banners {
    width: 320px;
    float: left;
    margin: 33px 0 0;
  }
}
@media only screen and (max-width: 700px) {
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.3em;
  }
  .banner.banner-foto {
    overflow: hidden;
    width: 320px;
  }
  .banner.banner-foto .imagen img {
    margin-left: -50%;
  }
  .banner.banner-foto .texto {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 10px 10px 10px;
  }
  .banners-mosaico {
    width: 320px;
  }
  .redes-mosaico ul li {
    width: 100%;
    float: none;
    margin: 0 0 10px;
  }
  #feeds .mini-stream {
    margin: 0 0 20px;
  }
  #feeds .mini-stream#gobierno-informa {
    margin: 0 0 20px;
  }
  .wrap {
    width: 320px;
  }
  header h1#logo-main a {
    width: 150px;
  }
  header nav#menu-principal {
    display: none;
    visibility: hidden;
  }
  header a#menu-movil-trigger {
    display: block;
    visibility: visible;
  }
  #content #main .stream .tarjeta .pic {
    display: none;
    visibility: hidden;
  }
  #content #main .stream .tarjeta.destacado .pic {
    display: block;
    visibility: visible;
  }
  #content #main .stream .tarjeta.destacado .texto .left {
    width: 100%;
    float: none;
    margin: 0;
  }
  #content #main .stream .tarjeta.destacado .texto .right {
    width: 100%;
    float: none;
  }
  #content #main .stream .tarjeta.destacado .social {
    margin: 0 auto 10px;
  }
  #content #main .buscar input#query {
    width: 280px;
  }
  #content #sidebar .banners {
    margin: 20px 0 0;
  }
  .single #content #main .post .texto,
  .page #content #main .post .texto,
  .error404 #content #main .post .texto {
    padding: 20px 15px 20px;
  }
  .single #content #main .post .social,
  .page #content #main .post .social,
  .error404 #content #main .post .social {
    margin: 15px 0 0 20px;
  }
  .single #content #main .post .social ul li,
  .page #content #main .post .social ul li,
  .error404 #content #main .post .social ul li {
    margin: 0 10px 3px 0;
  }
  .single #content #main .post .fontsize,
  .page #content #main .post .fontsize,
  .error404 #content #main .post .fontsize {
    margin: 15px 30px 0 0;
  }
  .single #content #main .post .post-header,
  .page #content #main .post .post-header,
  .error404 #content #main .post .post-header {
    background-position: 50% 0;
  }
  .single #content #main.autoridades-lista .post .texto,
  .page #content #main.autoridades-lista .post .texto,
  .error404 #content #main.autoridades-lista .post .texto {
    width: 100%;
    padding: 20px 15px 10px;
  }
  .single #content #main.autoridades-single .post .info,
  .page #content #main.autoridades-single .post .info,
  .error404 #content #main.autoridades-single .post .info {
    width: 100%;
    margin: 0 auto 15px;
  }
  .single #content #main.autoridades-single .post .texto,
  .page #content #main.autoridades-single .post .texto,
  .error404 #content #main.autoridades-single .post .texto {
    width: 100%;
  }
  .single #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.title,
  .page #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.title,
  .error404 #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.title {
    width: auto;
  }
  .single #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.dato,
  .page #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.dato,
  .error404 #content #main.autoridades-single .post .texto .contenido .datos.tabla ul li span.dato {
    width: 100%;
  }
  footer .top .listas .lista {
    border-right: none;
  }
}
@media only screen and (min-width: 700px) {
  #menu-movil {
    display: none;
  }
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}/* makes the font 33% larger relative to the icon container */
.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

    .fa-ul > li {
        position: relative;
    }

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}

    .fa-li.fa-lg {
        left: -1.85714286em;
    }

.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}

.fa-pull-left {
    float: left;
}

.fa-pull-right {
    float: right;
}

.fa.fa-pull-left {
    margin-right: .3em;
}

.fa.fa-pull-right {
    margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fa.pull-left {
    margin-right: .3em;
}

.fa.pull-right {
    margin-left: .3em;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
    filter: none;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-inverse {
    color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
    content: "\f000";
}

.fa-music:before {
    content: "\f001";
}

.fa-search:before {
    content: "\f002";
}

.fa-envelope-o:before {
    content: "\f003";
}

.fa-heart:before {
    content: "\f004";
}

.fa-star:before {
    content: "\f005";
}

.fa-star-o:before {
    content: "\f006";
}

.fa-user:before {
    content: "\f007";
}

.fa-film:before {
    content: "\f008";
}

.fa-th-large:before {
    content: "\f009";
}

.fa-th:before {
    content: "\f00a";
}

.fa-th-list:before {
    content: "\f00b";
}

.fa-check:before {
    content: "\f00c";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
}

.fa-search-plus:before {
    content: "\f00e";
}

.fa-search-minus:before {
    content: "\f010";
}

.fa-power-off:before {
    content: "\f011";
}

.fa-signal:before {
    content: "\f012";
}

.fa-gear:before,
.fa-cog:before {
    content: "\f013";
}

.fa-trash-o:before {
    content: "\f014";
}

.fa-home:before {
    content: "\f015";
}

.fa-file-o:before {
    content: "\f016";
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-road:before {
    content: "\f018";
}

.fa-download:before {
    content: "\f019";
}

.fa-arrow-circle-o-down:before {
    content: "\f01a";
}

.fa-arrow-circle-o-up:before {
    content: "\f01b";
}

.fa-inbox:before {
    content: "\f01c";
}

.fa-play-circle-o:before {
    content: "\f01d";
}

.fa-rotate-right:before,
.fa-repeat:before {
    content: "\f01e";
}

.fa-refresh:before {
    content: "\f021";
}

.fa-list-alt:before {
    content: "\f022";
}

.fa-lock:before {
    content: "\f023";
}

.fa-flag:before {
    content: "\f024";
}

.fa-headphones:before {
    content: "\f025";
}

.fa-volume-off:before {
    content: "\f026";
}

.fa-volume-down:before {
    content: "\f027";
}

.fa-volume-up:before {
    content: "\f028";
}

.fa-qrcode:before {
    content: "\f029";
}

.fa-barcode:before {
    content: "\f02a";
}

.fa-tag:before {
    content: "\f02b";
}

.fa-tags:before {
    content: "\f02c";
}

.fa-book:before {
    content: "\f02d";
}

.fa-bookmark:before {
    content: "\f02e";
}

.fa-print:before {
    content: "\f02f";
}

.fa-camera:before {
    content: "\f030";
}

.fa-font:before {
    content: "\f031";
}

.fa-bold:before {
    content: "\f032";
}

.fa-italic:before {
    content: "\f033";
}

.fa-text-height:before {
    content: "\f034";
}

.fa-text-width:before {
    content: "\f035";
}

.fa-align-left:before {
    content: "\f036";
}

.fa-align-center:before {
    content: "\f037";
}

.fa-align-right:before {
    content: "\f038";
}

.fa-align-justify:before {
    content: "\f039";
}

.fa-list:before {
    content: "\f03a";
}

.fa-dedent:before,
.fa-outdent:before {
    content: "\f03b";
}

.fa-indent:before {
    content: "\f03c";
}

.fa-video-camera:before {
    content: "\f03d";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
    content: "\f03e";
}

.fa-pencil:before {
    content: "\f040";
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-adjust:before {
    content: "\f042";
}

.fa-tint:before {
    content: "\f043";
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044";
}

.fa-share-square-o:before {
    content: "\f045";
}

.fa-check-square-o:before {
    content: "\f046";
}

.fa-arrows:before {
    content: "\f047";
}

.fa-step-backward:before {
    content: "\f048";
}

.fa-fast-backward:before {
    content: "\f049";
}

.fa-backward:before {
    content: "\f04a";
}

.fa-play:before {
    content: "\f04b";
}

.fa-pause:before {
    content: "\f04c";
}

.fa-stop:before {
    content: "\f04d";
}

.fa-forward:before {
    content: "\f04e";
}

.fa-fast-forward:before {
    content: "\f050";
}

.fa-step-forward:before {
    content: "\f051";
}

.fa-eject:before {
    content: "\f052";
}

.fa-chevron-left:before {
    content: "\f053";
}

.fa-chevron-right:before {
    content: "\f054";
}

.fa-plus-circle:before {
    content: "\f055";
}

.fa-minus-circle:before {
    content: "\f056";
}

.fa-times-circle:before {
    content: "\f057";
}

.fa-check-circle:before {
    content: "\f058";
}

.fa-question-circle:before {
    content: "\f059";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-crosshairs:before {
    content: "\f05b";
}

.fa-times-circle-o:before {
    content: "\f05c";
}

.fa-check-circle-o:before {
    content: "\f05d";
}

.fa-ban:before {
    content: "\f05e";
}

.fa-arrow-left:before {
    content: "\f060";
}

.fa-arrow-right:before {
    content: "\f061";
}

.fa-arrow-up:before {
    content: "\f062";
}

.fa-arrow-down:before {
    content: "\f063";
}

.fa-mail-forward:before,
.fa-share:before {
    content: "\f064";
}

.fa-expand:before {
    content: "\f065";
}

.fa-compress:before {
    content: "\f066";
}

.fa-plus:before {
    content: "\f067";
}

.fa-minus:before {
    content: "\f068";
}

.fa-asterisk:before {
    content: "\f069";
}

.fa-exclamation-circle:before {
    content: "\f06a";
}

.fa-gift:before {
    content: "\f06b";
}

.fa-leaf:before {
    content: "\f06c";
}

.fa-fire:before {
    content: "\f06d";
}

.fa-eye:before {
    content: "\f06e";
}

.fa-eye-slash:before {
    content: "\f070";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
    content: "\f071";
}

.fa-plane:before {
    content: "\f072";
}

.fa-calendar:before {
    content: "\f073";
}

.fa-random:before {
    content: "\f074";
}

.fa-comment:before {
    content: "\f075";
}

.fa-magnet:before {
    content: "\f076";
}

.fa-chevron-up:before {
    content: "\f077";
}

.fa-chevron-down:before {
    content: "\f078";
}

.fa-retweet:before {
    content: "\f079";
}

.fa-shopping-cart:before {
    content: "\f07a";
}

.fa-folder:before {
    content: "\f07b";
}

.fa-folder-open:before {
    content: "\f07c";
}

.fa-arrows-v:before {
    content: "\f07d";
}

.fa-arrows-h:before {
    content: "\f07e";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
    content: "\f080";
}

.fa-twitter-square:before {
    content: "\f081";
}

.fa-facebook-square:before {
    content: "\f082";
}

.fa-camera-retro:before {
    content: "\f083";
}

.fa-key:before {
    content: "\f084";
}

.fa-gears:before,
.fa-cogs:before {
    content: "\f085";
}

.fa-comments:before {
    content: "\f086";
}

.fa-thumbs-o-up:before {
    content: "\f087";
}

.fa-thumbs-o-down:before {
    content: "\f088";
}

.fa-star-half:before {
    content: "\f089";
}

.fa-heart-o:before {
    content: "\f08a";
}

.fa-sign-out:before {
    content: "\f08b";
}

.fa-linkedin-square:before {
    content: "\f08c";
}

.fa-thumb-tack:before {
    content: "\f08d";
}

.fa-external-link:before {
    content: "\f08e";
}

.fa-sign-in:before {
    content: "\f090";
}

.fa-trophy:before {
    content: "\f091";
}

.fa-github-square:before {
    content: "\f092";
}

.fa-upload:before {
    content: "\f093";
}

.fa-lemon-o:before {
    content: "\f094";
}

.fa-phone:before {
    content: "\f095";
}

.fa-square-o:before {
    content: "\f096";
}

.fa-bookmark-o:before {
    content: "\f097";
}

.fa-phone-square:before {
    content: "\f098";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a";
}

.fa-github:before {
    content: "\f09b";
}

.fa-unlock:before {
    content: "\f09c";
}

.fa-credit-card:before {
    content: "\f09d";
}

.fa-feed:before,
.fa-rss:before {
    content: "\f09e";
}

.fa-hdd-o:before {
    content: "\f0a0";
}

.fa-bullhorn:before {
    content: "\f0a1";
}

.fa-bell:before {
    content: "\f0f3";
}

.fa-certificate:before {
    content: "\f0a3";
}

.fa-hand-o-right:before {
    content: "\f0a4";
}

.fa-hand-o-left:before {
    content: "\f0a5";
}

.fa-hand-o-up:before {
    content: "\f0a6";
}

.fa-hand-o-down:before {
    content: "\f0a7";
}

.fa-arrow-circle-left:before {
    content: "\f0a8";
}

.fa-arrow-circle-right:before {
    content: "\f0a9";
}

.fa-arrow-circle-up:before {
    content: "\f0aa";
}

.fa-arrow-circle-down:before {
    content: "\f0ab";
}

.fa-globe:before {
    content: "\f0ac";
}

.fa-wrench:before {
    content: "\f0ad";
}

.fa-tasks:before {
    content: "\f0ae";
}

.fa-filter:before {
    content: "\f0b0";
}

.fa-briefcase:before {
    content: "\f0b1";
}

.fa-arrows-alt:before {
    content: "\f0b2";
}

.fa-group:before,
.fa-users:before {
    content: "\f0c0";
}

.fa-chain:before,
.fa-link:before {
    content: "\f0c1";
}

.fa-cloud:before {
    content: "\f0c2";
}

.fa-flask:before {
    content: "\f0c3";
}

.fa-cut:before,
.fa-scissors:before {
    content: "\f0c4";
}

.fa-copy:before,
.fa-files-o:before {
    content: "\f0c5";
}

.fa-paperclip:before {
    content: "\f0c6";
}

.fa-save:before,
.fa-floppy-o:before {
    content: "\f0c7";
}

.fa-square:before {
    content: "\f0c8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9";
}

.fa-list-ul:before {
    content: "\f0ca";
}

.fa-list-ol:before {
    content: "\f0cb";
}

.fa-strikethrough:before {
    content: "\f0cc";
}

.fa-underline:before {
    content: "\f0cd";
}

.fa-table:before {
    content: "\f0ce";
}

.fa-magic:before {
    content: "\f0d0";
}

.fa-truck:before {
    content: "\f0d1";
}

.fa-pinterest:before {
    content: "\f0d2";
}

.fa-pinterest-square:before {
    content: "\f0d3";
}

.fa-google-plus-square:before {
    content: "\f0d4";
}

.fa-google-plus:before {
    content: "\f0d5";
}

.fa-money:before {
    content: "\f0d6";
}

.fa-caret-down:before {
    content: "\f0d7";
}

.fa-caret-up:before {
    content: "\f0d8";
}

.fa-caret-left:before {
    content: "\f0d9";
}

.fa-caret-right:before {
    content: "\f0da";
}

.fa-columns:before {
    content: "\f0db";
}

.fa-unsorted:before,
.fa-sort:before {
    content: "\f0dc";
}

.fa-sort-down:before,
.fa-sort-desc:before {
    content: "\f0dd";
}

.fa-sort-up:before,
.fa-sort-asc:before {
    content: "\f0de";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-rotate-left:before,
.fa-undo:before {
    content: "\f0e2";
}

.fa-legal:before,
.fa-gavel:before {
    content: "\f0e3";
}

.fa-dashboard:before,
.fa-tachometer:before {
    content: "\f0e4";
}

.fa-comment-o:before {
    content: "\f0e5";
}

.fa-comments-o:before {
    content: "\f0e6";
}

.fa-flash:before,
.fa-bolt:before {
    content: "\f0e7";
}

.fa-sitemap:before {
    content: "\f0e8";
}

.fa-umbrella:before {
    content: "\f0e9";
}

.fa-paste:before,
.fa-clipboard:before {
    content: "\f0ea";
}

.fa-lightbulb-o:before {
    content: "\f0eb";
}

.fa-exchange:before {
    content: "\f0ec";
}

.fa-cloud-download:before {
    content: "\f0ed";
}

.fa-cloud-upload:before {
    content: "\f0ee";
}

.fa-user-md:before {
    content: "\f0f0";
}

.fa-stethoscope:before {
    content: "\f0f1";
}

.fa-suitcase:before {
    content: "\f0f2";
}

.fa-bell-o:before {
    content: "\f0a2";
}

.fa-coffee:before {
    content: "\f0f4";
}

.fa-cutlery:before {
    content: "\f0f5";
}

.fa-file-text-o:before {
    content: "\f0f6";
}

.fa-building-o:before {
    content: "\f0f7";
}

.fa-hospital-o:before {
    content: "\f0f8";
}

.fa-ambulance:before {
    content: "\f0f9";
}

.fa-medkit:before {
    content: "\f0fa";
}

.fa-fighter-jet:before {
    content: "\f0fb";
}

.fa-beer:before {
    content: "\f0fc";
}

.fa-h-square:before {
    content: "\f0fd";
}

.fa-plus-square:before {
    content: "\f0fe";
}

.fa-angle-double-left:before {
    content: "\f100";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-double-up:before {
    content: "\f102";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}

.fa-desktop:before {
    content: "\f108";
}

.fa-laptop:before {
    content: "\f109";
}

.fa-tablet:before {
    content: "\f10a";
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b";
}

.fa-circle-o:before {
    content: "\f10c";
}

.fa-quote-left:before {
    content: "\f10d";
}

.fa-quote-right:before {
    content: "\f10e";
}

.fa-spinner:before {
    content: "\f110";
}

.fa-circle:before {
    content: "\f111";
}

.fa-mail-reply:before,
.fa-reply:before {
    content: "\f112";
}

.fa-github-alt:before {
    content: "\f113";
}

.fa-folder-o:before {
    content: "\f114";
}

.fa-folder-open-o:before {
    content: "\f115";
}

.fa-smile-o:before {
    content: "\f118";
}

.fa-frown-o:before {
    content: "\f119";
}

.fa-meh-o:before {
    content: "\f11a";
}

.fa-gamepad:before {
    content: "\f11b";
}

.fa-keyboard-o:before {
    content: "\f11c";
}

.fa-flag-o:before {
    content: "\f11d";
}

.fa-flag-checkered:before {
    content: "\f11e";
}

.fa-terminal:before {
    content: "\f120";
}

.fa-code:before {
    content: "\f121";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: "\f122";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: "\f123";
}

.fa-location-arrow:before {
    content: "\f124";
}

.fa-crop:before {
    content: "\f125";
}

.fa-code-fork:before {
    content: "\f126";
}

.fa-unlink:before,
.fa-chain-broken:before {
    content: "\f127";
}

.fa-question:before {
    content: "\f128";
}

.fa-info:before {
    content: "\f129";
}

.fa-exclamation:before {
    content: "\f12a";
}

.fa-superscript:before {
    content: "\f12b";
}

.fa-subscript:before {
    content: "\f12c";
}

.fa-eraser:before {
    content: "\f12d";
}

.fa-puzzle-piece:before {
    content: "\f12e";
}

.fa-microphone:before {
    content: "\f130";
}

.fa-microphone-slash:before {
    content: "\f131";
}

.fa-shield:before {
    content: "\f132";
}

.fa-calendar-o:before {
    content: "\f133";
}

.fa-fire-extinguisher:before {
    content: "\f134";
}

.fa-rocket:before {
    content: "\f135";
}

.fa-maxcdn:before {
    content: "\f136";
}

.fa-chevron-circle-left:before {
    content: "\f137";
}

.fa-chevron-circle-right:before {
    content: "\f138";
}

.fa-chevron-circle-up:before {
    content: "\f139";
}

.fa-chevron-circle-down:before {
    content: "\f13a";
}

.fa-html5:before {
    content: "\f13b";
}

.fa-css3:before {
    content: "\f13c";
}

.fa-anchor:before {
    content: "\f13d";
}

.fa-unlock-alt:before {
    content: "\f13e";
}

.fa-bullseye:before {
    content: "\f140";
}

.fa-ellipsis-h:before {
    content: "\f141";
}

.fa-ellipsis-v:before {
    content: "\f142";
}

.fa-rss-square:before {
    content: "\f143";
}

.fa-play-circle:before {
    content: "\f144";
}

.fa-ticket:before {
    content: "\f145";
}

.fa-minus-square:before {
    content: "\f146";
}

.fa-minus-square-o:before {
    content: "\f147";
}

.fa-level-up:before {
    content: "\f148";
}

.fa-level-down:before {
    content: "\f149";
}

.fa-check-square:before {
    content: "\f14a";
}

.fa-pencil-square:before {
    content: "\f14b";
}

.fa-external-link-square:before {
    content: "\f14c";
}

.fa-share-square:before {
    content: "\f14d";
}

.fa-compass:before {
    content: "\f14e";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
    content: "\f150";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
    content: "\f151";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
    content: "\f152";
}

.fa-euro:before,
.fa-eur:before {
    content: "\f153";
}

.fa-gbp:before {
    content: "\f154";
}

.fa-dollar:before,
.fa-usd:before {
    content: "\f155";
}

.fa-rupee:before,
.fa-inr:before {
    content: "\f156";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
    content: "\f157";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
    content: "\f158";
}

.fa-won:before,
.fa-krw:before {
    content: "\f159";
}

.fa-bitcoin:before,
.fa-btc:before {
    content: "\f15a";
}

.fa-file:before {
    content: "\f15b";
}

.fa-file-text:before {
    content: "\f15c";
}

.fa-sort-alpha-asc:before {
    content: "\f15d";
}

.fa-sort-alpha-desc:before {
    content: "\f15e";
}

.fa-sort-amount-asc:before {
    content: "\f160";
}

.fa-sort-amount-desc:before {
    content: "\f161";
}

.fa-sort-numeric-asc:before {
    content: "\f162";
}

.fa-sort-numeric-desc:before {
    content: "\f163";
}

.fa-thumbs-up:before {
    content: "\f164";
}

.fa-thumbs-down:before {
    content: "\f165";
}

.fa-youtube-square:before {
    content: "\f166";
}

.fa-youtube:before {
    content: "\f167";
}

.fa-xing:before {
    content: "\f168";
}

.fa-xing-square:before {
    content: "\f169";
}

.fa-youtube-play:before {
    content: "\f16a";
}

.fa-dropbox:before {
    content: "\f16b";
}

.fa-stack-overflow:before {
    content: "\f16c";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-flickr:before {
    content: "\f16e";
}

.fa-adn:before {
    content: "\f170";
}

.fa-bitbucket:before {
    content: "\f171";
}

.fa-bitbucket-square:before {
    content: "\f172";
}

.fa-tumblr:before {
    content: "\f173";
}

.fa-tumblr-square:before {
    content: "\f174";
}

.fa-long-arrow-down:before {
    content: "\f175";
}

.fa-long-arrow-up:before {
    content: "\f176";
}

.fa-long-arrow-left:before {
    content: "\f177";
}

.fa-long-arrow-right:before {
    content: "\f178";
}

.fa-apple:before {
    content: "\f179";
}

.fa-windows:before {
    content: "\f17a";
}

.fa-android:before {
    content: "\f17b";
}

.fa-linux:before {
    content: "\f17c";
}

.fa-dribbble:before {
    content: "\f17d";
}

.fa-skype:before {
    content: "\f17e";
}

.fa-foursquare:before {
    content: "\f180";
}

.fa-trello:before {
    content: "\f181";
}

.fa-female:before {
    content: "\f182";
}

.fa-male:before {
    content: "\f183";
}

.fa-gittip:before,
.fa-gratipay:before {
    content: "\f184";
}

.fa-sun-o:before {
    content: "\f185";
}

.fa-moon-o:before {
    content: "\f186";
}

.fa-archive:before {
    content: "\f187";
}

.fa-bug:before {
    content: "\f188";
}

.fa-vk:before {
    content: "\f189";
}

.fa-weibo:before {
    content: "\f18a";
}

.fa-renren:before {
    content: "\f18b";
}

.fa-pagelines:before {
    content: "\f18c";
}

.fa-stack-exchange:before {
    content: "\f18d";
}

.fa-arrow-circle-o-right:before {
    content: "\f18e";
}

.fa-arrow-circle-o-left:before {
    content: "\f190";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content: "\f191";
}

.fa-dot-circle-o:before {
    content: "\f192";
}

.fa-wheelchair:before {
    content: "\f193";
}

.fa-vimeo-square:before {
    content: "\f194";
}

.fa-turkish-lira:before,
.fa-try:before {
    content: "\f195";
}

.fa-plus-square-o:before {
    content: "\f196";
}

.fa-space-shuttle:before {
    content: "\f197";
}

.fa-slack:before {
    content: "\f198";
}

.fa-envelope-square:before {
    content: "\f199";
}

.fa-wordpress:before {
    content: "\f19a";
}

.fa-openid:before {
    content: "\f19b";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
    content: "\f19c";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
    content: "\f19d";
}

.fa-yahoo:before {
    content: "\f19e";
}

.fa-google:before {
    content: "\f1a0";
}

.fa-reddit:before {
    content: "\f1a1";
}

.fa-reddit-square:before {
    content: "\f1a2";
}

.fa-stumbleupon-circle:before {
    content: "\f1a3";
}

.fa-stumbleupon:before {
    content: "\f1a4";
}

.fa-delicious:before {
    content: "\f1a5";
}

.fa-digg:before {
    content: "\f1a6";
}

.fa-pied-piper-pp:before {
    content: "\f1a7";
}

.fa-pied-piper-alt:before {
    content: "\f1a8";
}

.fa-drupal:before {
    content: "\f1a9";
}

.fa-joomla:before {
    content: "\f1aa";
}

.fa-language:before {
    content: "\f1ab";
}

.fa-fax:before {
    content: "\f1ac";
}

.fa-building:before {
    content: "\f1ad";
}

.fa-child:before {
    content: "\f1ae";
}

.fa-paw:before {
    content: "\f1b0";
}

.fa-spoon:before {
    content: "\f1b1";
}

.fa-cube:before {
    content: "\f1b2";
}

.fa-cubes:before {
    content: "\f1b3";
}

.fa-behance:before {
    content: "\f1b4";
}

.fa-behance-square:before {
    content: "\f1b5";
}

.fa-steam:before {
    content: "\f1b6";
}

.fa-steam-square:before {
    content: "\f1b7";
}

.fa-recycle:before {
    content: "\f1b8";
}

.fa-automobile:before,
.fa-car:before {
    content: "\f1b9";
}

.fa-cab:before,
.fa-taxi:before {
    content: "\f1ba";
}

.fa-tree:before {
    content: "\f1bb";
}

.fa-spotify:before {
    content: "\f1bc";
}

.fa-deviantart:before {
    content: "\f1bd";
}

.fa-soundcloud:before {
    content: "\f1be";
}

.fa-database:before {
    content: "\f1c0";
}

.fa-file-pdf-o:before {
    content: "\f1c1";
}

.fa-file-word-o:before {
    content: "\f1c2";
}

.fa-file-excel-o:before {
    content: "\f1c3";
}

.fa-file-powerpoint-o:before {
    content: "\f1c4";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content: "\f1c5";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
    content: "\f1c6";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
    content: "\f1c7";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "\f1c8";
}

.fa-file-code-o:before {
    content: "\f1c9";
}

.fa-vine:before {
    content: "\f1ca";
}

.fa-codepen:before {
    content: "\f1cb";
}

.fa-jsfiddle:before {
    content: "\f1cc";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
    content: "\f1cd";
}

.fa-circle-o-notch:before {
    content: "\f1ce";
}

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
    content: "\f1d0";
}

.fa-ge:before,
.fa-empire:before {
    content: "\f1d1";
}

.fa-git-square:before {
    content: "\f1d2";
}

.fa-git:before {
    content: "\f1d3";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
    content: "\f1d4";
}

.fa-tencent-weibo:before {
    content: "\f1d5";
}

.fa-qq:before {
    content: "\f1d6";
}

.fa-wechat:before,
.fa-weixin:before {
    content: "\f1d7";
}

.fa-send:before,
.fa-paper-plane:before {
    content: "\f1d8";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
    content: "\f1d9";
}

.fa-history:before {
    content: "\f1da";
}

.fa-circle-thin:before {
    content: "\f1db";
}

.fa-header:before {
    content: "\f1dc";
}

.fa-paragraph:before {
    content: "\f1dd";
}

.fa-sliders:before {
    content: "\f1de";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.fa-share-alt-square:before {
    content: "\f1e1";
}

.fa-bomb:before {
    content: "\f1e2";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
    content: "\f1e3";
}

.fa-tty:before {
    content: "\f1e4";
}

.fa-binoculars:before {
    content: "\f1e5";
}

.fa-plug:before {
    content: "\f1e6";
}

.fa-slideshare:before {
    content: "\f1e7";
}

.fa-twitch:before {
    content: "\f1e8";
}

.fa-yelp:before {
    content: "\f1e9";
}

.fa-newspaper-o:before {
    content: "\f1ea";
}

.fa-wifi:before {
    content: "\f1eb";
}

.fa-calculator:before {
    content: "\f1ec";
}

.fa-paypal:before {
    content: "\f1ed";
}

.fa-google-wallet:before {
    content: "\f1ee";
}

.fa-cc-visa:before {
    content: "\f1f0";
}

.fa-cc-mastercard:before {
    content: "\f1f1";
}

.fa-cc-discover:before {
    content: "\f1f2";
}

.fa-cc-amex:before {
    content: "\f1f3";
}

.fa-cc-paypal:before {
    content: "\f1f4";
}

.fa-cc-stripe:before {
    content: "\f1f5";
}

.fa-bell-slash:before {
    content: "\f1f6";
}

.fa-bell-slash-o:before {
    content: "\f1f7";
}

.fa-trash:before {
    content: "\f1f8";
}

.fa-copyright:before {
    content: "\f1f9";
}

.fa-at:before {
    content: "\f1fa";
}

.fa-eyedropper:before {
    content: "\f1fb";
}

.fa-paint-brush:before {
    content: "\f1fc";
}

.fa-birthday-cake:before {
    content: "\f1fd";
}

.fa-area-chart:before {
    content: "\f1fe";
}

.fa-pie-chart:before {
    content: "\f200";
}

.fa-line-chart:before {
    content: "\f201";
}

.fa-lastfm:before {
    content: "\f202";
}

.fa-lastfm-square:before {
    content: "\f203";
}

.fa-toggle-off:before {
    content: "\f204";
}

.fa-toggle-on:before {
    content: "\f205";
}

.fa-bicycle:before {
    content: "\f206";
}

.fa-bus:before {
    content: "\f207";
}

.fa-ioxhost:before {
    content: "\f208";
}

.fa-angellist:before {
    content: "\f209";
}

.fa-cc:before {
    content: "\f20a";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
    content: "\f20b";
}

.fa-meanpath:before {
    content: "\f20c";
}

.fa-buysellads:before {
    content: "\f20d";
}

.fa-connectdevelop:before {
    content: "\f20e";
}

.fa-dashcube:before {
    content: "\f210";
}

.fa-forumbee:before {
    content: "\f211";
}

.fa-leanpub:before {
    content: "\f212";
}

.fa-sellsy:before {
    content: "\f213";
}

.fa-shirtsinbulk:before {
    content: "\f214";
}

.fa-simplybuilt:before {
    content: "\f215";
}

.fa-skyatlas:before {
    content: "\f216";
}

.fa-cart-plus:before {
    content: "\f217";
}

.fa-cart-arrow-down:before {
    content: "\f218";
}

.fa-diamond:before {
    content: "\f219";
}

.fa-ship:before {
    content: "\f21a";
}

.fa-user-secret:before {
    content: "\f21b";
}

.fa-motorcycle:before {
    content: "\f21c";
}

.fa-street-view:before {
    content: "\f21d";
}

.fa-heartbeat:before {
    content: "\f21e";
}

.fa-venus:before {
    content: "\f221";
}

.fa-mars:before {
    content: "\f222";
}

.fa-mercury:before {
    content: "\f223";
}

.fa-intersex:before,
.fa-transgender:before {
    content: "\f224";
}

.fa-transgender-alt:before {
    content: "\f225";
}

.fa-venus-double:before {
    content: "\f226";
}

.fa-mars-double:before {
    content: "\f227";
}

.fa-venus-mars:before {
    content: "\f228";
}

.fa-mars-stroke:before {
    content: "\f229";
}

.fa-mars-stroke-v:before {
    content: "\f22a";
}

.fa-mars-stroke-h:before {
    content: "\f22b";
}

.fa-neuter:before {
    content: "\f22c";
}

.fa-genderless:before {
    content: "\f22d";
}

.fa-facebook-official:before {
    content: "\f230";
}

.fa-pinterest-p:before {
    content: "\f231";
}

.fa-whatsapp:before {
    content: "\f232";
}

.fa-server:before {
    content: "\f233";
}

.fa-user-plus:before {
    content: "\f234";
}

.fa-user-times:before {
    content: "\f235";
}

.fa-hotel:before,
.fa-bed:before {
    content: "\f236";
}

.fa-viacoin:before {
    content: "\f237";
}

.fa-train:before {
    content: "\f238";
}

.fa-subway:before {
    content: "\f239";
}

.fa-medium:before {
    content: "\f23a";
}

.fa-yc:before,
.fa-y-combinator:before {
    content: "\f23b";
}

.fa-optin-monster:before {
    content: "\f23c";
}

.fa-opencart:before {
    content: "\f23d";
}

.fa-expeditedssl:before {
    content: "\f23e";
}

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
    content: "\f240";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: "\f241";
}

.fa-battery-2:before,
.fa-battery-half:before {
    content: "\f242";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
    content: "\f243";
}

.fa-battery-0:before,
.fa-battery-empty:before {
    content: "\f244";
}

.fa-mouse-pointer:before {
    content: "\f245";
}

.fa-i-cursor:before {
    content: "\f246";
}

.fa-object-group:before {
    content: "\f247";
}

.fa-object-ungroup:before {
    content: "\f248";
}

.fa-sticky-note:before {
    content: "\f249";
}

.fa-sticky-note-o:before {
    content: "\f24a";
}

.fa-cc-jcb:before {
    content: "\f24b";
}

.fa-cc-diners-club:before {
    content: "\f24c";
}

.fa-clone:before {
    content: "\f24d";
}

.fa-balance-scale:before {
    content: "\f24e";
}

.fa-hourglass-o:before {
    content: "\f250";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "\f251";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253";
}

.fa-hourglass:before {
    content: "\f254";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "\f255";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
    content: "\f256";
}

.fa-hand-scissors-o:before {
    content: "\f257";
}

.fa-hand-lizard-o:before {
    content: "\f258";
}

.fa-hand-spock-o:before {
    content: "\f259";
}

.fa-hand-pointer-o:before {
    content: "\f25a";
}

.fa-hand-peace-o:before {
    content: "\f25b";
}

.fa-trademark:before {
    content: "\f25c";
}

.fa-registered:before {
    content: "\f25d";
}

.fa-creative-commons:before {
    content: "\f25e";
}

.fa-gg:before {
    content: "\f260";
}

.fa-gg-circle:before {
    content: "\f261";
}

.fa-tripadvisor:before {
    content: "\f262";
}

.fa-odnoklassniki:before {
    content: "\f263";
}

.fa-odnoklassniki-square:before {
    content: "\f264";
}

.fa-get-pocket:before {
    content: "\f265";
}

.fa-wikipedia-w:before {
    content: "\f266";
}

.fa-safari:before {
    content: "\f267";
}

.fa-chrome:before {
    content: "\f268";
}

.fa-firefox:before {
    content: "\f269";
}

.fa-opera:before {
    content: "\f26a";
}

.fa-internet-explorer:before {
    content: "\f26b";
}

.fa-tv:before,
.fa-television:before {
    content: "\f26c";
}

.fa-contao:before {
    content: "\f26d";
}

.fa-500px:before {
    content: "\f26e";
}

.fa-amazon:before {
    content: "\f270";
}

.fa-calendar-plus-o:before {
    content: "\f271";
}

.fa-calendar-minus-o:before {
    content: "\f272";
}

.fa-calendar-times-o:before {
    content: "\f273";
}

.fa-calendar-check-o:before {
    content: "\f274";
}

.fa-industry:before {
    content: "\f275";
}

.fa-map-pin:before {
    content: "\f276";
}

.fa-map-signs:before {
    content: "\f277";
}

.fa-map-o:before {
    content: "\f278";
}

.fa-map:before {
    content: "\f279";
}

.fa-commenting:before {
    content: "\f27a";
}

.fa-commenting-o:before {
    content: "\f27b";
}

.fa-houzz:before {
    content: "\f27c";
}

.fa-vimeo:before {
    content: "\f27d";
}

.fa-black-tie:before {
    content: "\f27e";
}

.fa-fonticons:before {
    content: "\f280";
}

.fa-reddit-alien:before {
    content: "\f281";
}

.fa-edge:before {
    content: "\f282";
}

.fa-credit-card-alt:before {
    content: "\f283";
}

.fa-codiepie:before {
    content: "\f284";
}

.fa-modx:before {
    content: "\f285";
}

.fa-fort-awesome:before {
    content: "\f286";
}

.fa-usb:before {
    content: "\f287";
}

.fa-product-hunt:before {
    content: "\f288";
}

.fa-mixcloud:before {
    content: "\f289";
}

.fa-scribd:before {
    content: "\f28a";
}

.fa-pause-circle:before {
    content: "\f28b";
}

.fa-pause-circle-o:before {
    content: "\f28c";
}

.fa-stop-circle:before {
    content: "\f28d";
}

.fa-stop-circle-o:before {
    content: "\f28e";
}

.fa-shopping-bag:before {
    content: "\f290";
}

.fa-shopping-basket:before {
    content: "\f291";
}

.fa-hashtag:before {
    content: "\f292";
}

.fa-bluetooth:before {
    content: "\f293";
}

.fa-bluetooth-b:before {
    content: "\f294";
}

.fa-percent:before {
    content: "\f295";
}

.fa-gitlab:before {
    content: "\f296";
}

.fa-wpbeginner:before {
    content: "\f297";
}

.fa-wpforms:before {
    content: "\f298";
}

.fa-envira:before {
    content: "\f299";
}

.fa-universal-access:before {
    content: "\f29a";
}

.fa-wheelchair-alt:before {
    content: "\f29b";
}

.fa-question-circle-o:before {
    content: "\f29c";
}

.fa-blind:before {
    content: "\f29d";
}

.fa-audio-description:before {
    content: "\f29e";
}

.fa-volume-control-phone:before {
    content: "\f2a0";
}

.fa-braille:before {
    content: "\f2a1";
}

.fa-assistive-listening-systems:before {
    content: "\f2a2";
}

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
    content: "\f2a3";
}

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
    content: "\f2a4";
}

.fa-glide:before {
    content: "\f2a5";
}

.fa-glide-g:before {
    content: "\f2a6";
}

.fa-signing:before,
.fa-sign-language:before {
    content: "\f2a7";
}

.fa-low-vision:before {
    content: "\f2a8";
}

.fa-viadeo:before {
    content: "\f2a9";
}

.fa-viadeo-square:before {
    content: "\f2aa";
}

.fa-snapchat:before {
    content: "\f2ab";
}

.fa-snapchat-ghost:before {
    content: "\f2ac";
}

.fa-snapchat-square:before {
    content: "\f2ad";
}

.fa-pied-piper:before {
    content: "\f2ae";
}

.fa-first-order:before {
    content: "\f2b0";
}

.fa-yoast:before {
    content: "\f2b1";
}

.fa-themeisle:before {
    content: "\f2b2";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
    content: "\f2b3";
}

.fa-fa:before,
.fa-font-awesome:before {
    content: "\f2b4";
}

.fa-handshake-o:before {
    content: "\f2b5";
}

.fa-envelope-open:before {
    content: "\f2b6";
}

.fa-envelope-open-o:before {
    content: "\f2b7";
}

.fa-linode:before {
    content: "\f2b8";
}

.fa-address-book:before {
    content: "\f2b9";
}

.fa-address-book-o:before {
    content: "\f2ba";
}

.fa-vcard:before,
.fa-address-card:before {
    content: "\f2bb";
}

.fa-vcard-o:before,
.fa-address-card-o:before {
    content: "\f2bc";
}

.fa-user-circle:before {
    content: "\f2bd";
}

.fa-user-circle-o:before {
    content: "\f2be";
}

.fa-user-o:before {
    content: "\f2c0";
}

.fa-id-badge:before {
    content: "\f2c1";
}

.fa-drivers-license:before,
.fa-id-card:before {
    content: "\f2c2";
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
    content: "\f2c3";
}

.fa-quora:before {
    content: "\f2c4";
}

.fa-free-code-camp:before {
    content: "\f2c5";
}

.fa-telegram:before {
    content: "\f2c6";
}

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
    content: "\f2c7";
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
    content: "\f2c8";
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
    content: "\f2c9";
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
    content: "\f2ca";
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
    content: "\f2cb";
}

.fa-shower:before {
    content: "\f2cc";
}

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
    content: "\f2cd";
}

.fa-podcast:before {
    content: "\f2ce";
}

.fa-window-maximize:before {
    content: "\f2d0";
}

.fa-window-minimize:before {
    content: "\f2d1";
}

.fa-window-restore:before {
    content: "\f2d2";
}

.fa-times-rectangle:before,
.fa-window-close:before {
    content: "\f2d3";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
    content: "\f2d4";
}

.fa-bandcamp:before {
    content: "\f2d5";
}

.fa-grav:before {
    content: "\f2d6";
}

.fa-etsy:before {
    content: "\f2d7";
}

.fa-imdb:before {
    content: "\f2d8";
}

.fa-ravelry:before {
    content: "\f2d9";
}

.fa-eercast:before {
    content: "\f2da";
}

.fa-microchip:before {
    content: "\f2db";
}

.fa-snowflake-o:before {
    content: "\f2dc";
}

.fa-superpowers:before {
    content: "\f2dd";
}

.fa-wpexplorer:before {
    content: "\f2de";
}

.fa-meetup:before {
    content: "\f2e0";
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
