﻿
<div>
   
    
            <form class="form ">
                <div class="row">
                    
                    <div class="col-sm-2">
                        <div class="form-group">
                            
                            <alert ng-show="subiendoDocumento" class="alert-info"><i  class="fa fa-spinner fa-spin fa-fw fa-2x"></i> &nbsp; Subiendo documento..</alert>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div>
                            <div class="form-group">
                                <input type="file" class="form-control" accept=".pdf" id="exampleFormControlFile1" multiple ng-files="getTheFiles($files)" />

                            </div>
                            <div class="form-group">

                                <button id="button-subir" class="btn btn-primary" ng-click="uploadFiles()" role="button"><i class="fa fa-upload" aria-hidden="true"></i> Subir los documentos elegidos</button>

                               

                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <br />
         

        
    
            
</div>
