﻿<div class="container" ng-controller="documentosCtrl">

    <br>
    <!-- tablas -->
    <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Documentos </h2>

    <br />

    <form class="form-inline text-right" name="frmDocumento" id="frmDocumento" novalidate>

        <div class="form-group">
            <input type="file" class="form-control" id="exampleFormControlFile1" multiple ng-files="getTheFiles($files)" />

        </div>
        <div class="form-group">

            <button id="button-subir" class="btn btn-primary" ng-click="uploadFiles()" role="button"><i class="fa fa-upload" aria-hidden="true"></i> Subir los documentos elegidos</button>

        </div>
    </form>

    <form class="form-inline ">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="selectTamPagina" class="control-label">Mostrando:</label>
                    <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.tamacno_pagina">
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                    <label for="selectTamPagina" class="control-label">Registros de  {{bigTotalItems}}</label>
                </div>
            </div>
            <div class="col-sm-8 text-right">


            </div>


        </div>
    </form>

    <br />

    <table class="table table-condensed table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Expediente</th>
                <th>Nombre Documento</th>
                <th>Tamaño</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in documentos">
                <td>{{$index + 1}}</td>
                <td>{{d.Id_Expediente}}</td>
                <td>{{d.Nombre}}</td>
                <td>{{d.Tamacno}}</td>
                <td class="pull-right">
                    <a href="api/documentos/{{d.Id}}" role="button" class="btn btn-primary" target="_blank"><i class="fa fa-file-o fa-lg" aria-hidden="true"></i></a>
                    <a href="" ng-click="eliminarDocumento(d.Id)" class="btn btn-primary ml-1"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-4">
            <form class="form-inline">
                <div class="form-group">
                    <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
                </div>

            </form>
        </div>
        <div class="col-sm-8 ">
            <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.tamacno_pagina" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>

        </div>
    </div>
    <div class="text-right">
        <a class="btn btn-primary" ng-click="volver()" href="">← Volver </a>
    </div>

    </div>
