﻿


        <br>
        <!-- tablas -->

        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Lista de Documentos</h3>

        <br>
        <div class="row">
            <div class="col-sm-2  visible-sm visible-md visible-lg">
                <span>Mostrando</span>
                <select name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <span>Registros</span>
            </div>

            <div class="col-sm-10">
                <form class="form-inline pull-right ">

                    <div class="form-group">
                        <label for="selectEmpresa" class="control-label">Empresa</label>
                        <select class="form-control" name="selectEmpresa" ng-model="filtro.docto.Rut_Ingresado_Por">
                            <option selected value="0">>> Todas</option>
                            <option ng-repeat="e in empresas" value="{{e.Rut_Empresa}}">{{e.Nombre_Empresa}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="selectEstadoDocumento" class="control-label">Estado</label>
                        <select class="form-control" name="selectEstadoDocumento" ng-model="filtro.docto.Id_Estado_Documento">
                            <option selected value="0">>> Todos</option>
                            <option ng-repeat="ed in estado_documentos" value="{{ed.Id_Estado_Documento}}">{{ed.Nombre_Estado_Documento}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="selectRolUsuario" class="control-label">Recepcionado por</label>
                        <select class="form-control" name="selectRolUsuario" ng-model="filtro.docto.Rut_Asignado">
                            <option selected value="0">>> Todos</option>
                            <option ng-repeat="ru in rol_usuario" value="{{ru.Rut}}">{{ru.Nombre_Completo}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-click="buscar()">Buscar</button>
                    </div>

                </form>
            </div>
        </div>
        <br />

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>N`Ingreso</th>
                    <th>Fecha Ingreso</th>
                    <th>Nombre Documento</th>
                    <th>Tamaño</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in documentos">
                    <td>{{d.Nombre_Ingresado_Por}}</td>
                    <td>{{d.Id_Documento}}</td>
                    <td class="text-center col-sm-1">{{d.Fecha_Ingreso | date:dd/mm/yyyy}}</td>
                    <td>{{d.Nombre_Documento}}</td>
                    <td>{{d.Tamacno}}</td>
                    <td ng-show="d.Id_Estado_Documento==1"> <span class="label label-success">{{d.EstadoDocumento.Nombre_Estado_Documento}}</span></td>
                    <td ng-show="d.Id_Estado_Documento==2"> <span class="label label-info">{{d.EstadoDocumento.Nombre_Estado_Documento}}</span></td>
                    <td class="text-center">
                        <a href="api/documentos/{{d.Id_Documento}}" role="button" class="btn btn-default btn-sm" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp; Ver</a>
                        <a ng-show="d.TareaVigente.length>0" href="" ng-click="abrirTarea(d)" class="btn btn-default btn-sm"><i class="fa fa-task" aria-hidden="true"></i> &nbsp; {{d.TareaVigente[0].Nombre_Tipo_Tarea}}</a>
                    </td>
                </tr>

            </tbody>
        </table>




        <div class="row">
            <div class="col-sm-4">
                <form class="form-inline">
                    <div class="form-group">
                        <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
                    </div>

                </form>
            </div>
            <div class="col-sm-8 ">
                <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>

            </div>
        </div>


  
