﻿<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="SiGeTram" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<!--<![endif]-->
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>SiGeTram</title>

    <link href="Content/images/favicon.ico" rel="icon" type="image/png" >
    <link href="Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/css/gobcl.css" rel="stylesheet" />
    <link href="Content/css/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="Content/css/Site.css" rel="stylesheet" />
    <link href="Content/css/angular-cog-alert.min.css" rel="stylesheet" />

</head>
<body ng-controller="navegacionCtrl">
    <nav class="navbar nav-minvu navbar-default header-site" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="clearfix title">
                    <a href="#" class="navbar-brand" sl-processed="1">SiGeTram</a>
                </h1>
                <h2 class="minvu-tag"><b>{{nombreServicio}}</b></h2>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="right-ondesktop collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <strong>Opciones</strong> <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <!--<ul    class="dropdown-menu">-->
                            <!--<li ng-show="rol.esRevisorSocial()"><a href="#!/proyectos">Mis  Proyectos</a></li>-->
                            <li ng-show="rol.esRevisorSocial()"><a href="#!/expedientes">Mis  Expedientes</a></li>
                            <li ng-show="rol.esAdministrador()" role="separator" class="divider"></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/procesos">Trámites</a></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/empresas">Empresas</a></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/proyectosAdm">Lista General de Proyectos</a></li>
                            <!--<li ng-show="rol.esAdministrador()"><a href="#!/expedientesAdm">Mis Expedientes</a></li>-->
                            <li ng-show="rol.esAdministrador()"><a href="#!/expedientesAdm">Lista General de Expedientes</a></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/expedientesDocumento">Listado de Archivos Subidos</a></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/tipoSubsidios">Tipos de Subsidios</a></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/tipoExpedientes">Tipos de Expedientes</a></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/tipologias">Tipologias</a></li>
                            <!--<li ng-show="rol.esAdministrador()"><a href="#!/tipoTramites">Tipos de Trámite</a></li>-->

                            <li ng-show="rol.esAdministrador()" role="separator" class="divider"></li>
                            <li ng-show="rol.esAdministrador()"><a href="#!/roles">Roles</a></li>
                            <!--  <li ng-show="rol.esAdministrador()"><a href="">{{tipoTramite.Id_Tipo_Tramite}}</a></li>-->

                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <strong>{{usuario.Nombres}}</strong> <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="">Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="">Salir</a></li>
                        </ul>
                    </li>
                </ul>


            </div><!-- /.navbar-collapse -->
        </div>
    </nav>


    <!-- /////////////////////////
    ********** CONTENIDO ********
    ///////////////////////// -->
    <div id="content" class="container-fluid">
        <div class="row">
            <!-- /////////////////////////
            ********** SIDEBAR ********
            ///////////////////////// -->
            <!-- termina el sidebar  -->
            <!-- //////////////////////////////////
            ********** CONTENIDO CENTRAL ********
            /////////////////////////////////// -->
            <div class="col-md-12">

                <!-- encabezados o titulares  -->

                <ng-view>

                </ng-view>


                <br>
                <div ng-show="recuperando" class="row">
                    <div class="col-sm-12 text-center">

                        <div class="alert alert-info" role="alert"><i class="fa fa-refresh fa-5x  fa-spin" aria-hidden="true"></i> Espere un momento...</div>

                    </div>
                </div>
            </div>
        </div>  <!-- fin de .main -->
    </div>  <!-- fin de .row -->
    <!-- fin de .content -->


    <br>

    <!-- /////////////////////////
    ********** FOOTER ************
    ///////////////////////// -->
    <footer class="footer-site" role="contentinfo">
        <div class="container-fluid clearfix">
            <span class="separator-line"></span>
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4 address-footer info-footer ">
                    <ul>
                        <li class="address-f">
                            <h2 class="minvu-name">SERVIU Región del BioBío</h2>

                            <br>

                            <strong> V1.0.0.0-2019</strong>
                        </li>
                        <li>
                            <a href="http://www.serviubiobio.cl/" target="_blank" title="ir al SERVIU"><img ng-src="Content/images/logos/SERVIU_Region_BioBio.jpg" width="150" alt="SERVIU"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- end #inner-footer -->
    </footer>
    <!-- end footer -->

    <hr>





    <!--<script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="Scripts/modernizr-2.6.2.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-locale_es-cl.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>-->

    <script src="Content/js/jquery-3.0.0.min.js"></script>
    <script src="Content/js/bootstrap.min.js"></script>
    <script src="Content/js/angular.min.js"></script>
    <script src="Content/js/angular-route.min.js"></script>
    <script src="Content/js/angular-messages.min.js"></script>
    <script src="Content/js/angular-locale_es-cl.js"></script>
    <script src="Content/js/angular-sanitize.min.js"></script>
    <script src="Content/js/angular-animate.min.js"></script>
    <script src="Content/js/angular-rut-validator.js"></script>
    <script src="Content/js/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Content/js/angular.soap.js"></script>
    <script src="Content/js/soapclient.js"></script>
    <script src="Content/js/ngStorage.min.js"></script>

    <script src="Cliente/app.js"></script>
    <script src="Cliente/core.js"></script>
    <!--<script src="Cliente/usuarios/usuariosSrv.js"></script>-->
    <script src="Cliente/empresas/empresasCtrl.js"></script>
    <script src="Cliente/empresas/empresasSrv.js"></script>
    <script src="Cliente/proyectos/proyectosCtrl.js"></script>
    <script src="Cliente/proyectos/proyectosSrv.js"></script>
    <script src="Cliente/expedientes/expedientesCtrl.js"></script>
    <script src="Cliente/expedientes/expedientesSrv.js"></script>
    <script src="Cliente/tipoSubsidios/tipoSubsidiosCtrl.js"></script>
    <script src="Cliente/tipoSubsidios/tipoSubsidiosSrv.js"></script>
    <script src="Cliente/tipoExpedientes/tipoExpedientesCtrl.js"></script>
    <script src="Cliente/tipoExpedientes/tipoExpedientesSrv.js"></script>
    <script src="Cliente/tipologias/tipologiasCtrl.js"></script>
    <script src="Cliente/tipologias/tipologiasSrv.js"></script>
    <script src="Cliente/tareas/tareasCtrl.js"></script>
    <script src="Cliente/tareas/tareasSrv.js"></script>
    <script src="Cliente/documentos/documentosCtrl.js"></script>
    <script src="Cliente/documentos/documentosSrv.js"></script>
    <script src="Cliente/tablas_soporte_localSrv.js"></script>
    <script src="Cliente/tipoTramites/tipoTramitesCtrl.js"></script>
    <script src="Cliente/tipoTramites/tipoTramitesSrv.js"></script>
    <script src="Cliente/roles/rolCtrl.js"></script>
    <script src="Cliente/roles/rolSrv.js"></script>
    <script src="Cliente/roles/funcionarioSrv.js"></script>
    <script src="Cliente/procesos/procesosCtrl.js"></script>
    <script src="Cliente/procesos/procesosSrv.js"></script>
    <script src="http://intranet08.minvu.cl/sigefun/Cliente/jefatura/jefaturaSrv.js"></script>
    <script src="http://intranet08.minvu.cl/sigefun/Cliente/tablas_soporteSrv.js"></script>
    <script src="http://intranet08.minvu.cl/sigefun/Cliente/dependencia/dependenciaSrv.js"></script>
    <!--<script src="http://intranet08.minvu.cl/sigefun/Cliente/funcionario/funcionarioSrv.js"></script>-->
    <script src="http://intranet08.minvu.cl/sigefun/Cliente/excepcion/excepcionSrv.js"></script>

    <!--<script src="http://rrhh.intranet08.minvu.cl/sigefun/Cliente/jefatura/jefaturaSrv.js"></script>
    <script src="http://.intranet08.minvu.cl/sigefun/Cliente/jefatura/jefaturaSrv.js"></script>
    <script src="http://rrhh.intranet08.minvu.cl/sigefun/Cliente/tablas_soporteSrv.js"></script>
    <script src="http://rrhh.intranet08.minvu.cl/sigefun/Cliente/dependencia/dependenciaSrv.js"></script>
    <script src="http://rrhh.intranet08.minvu.cl/sigefun/Cliente/funcionario/funcionarioSrv.js"></script>
    <script src="http://rrhh.intranet08.minvu.cl/sigefun/Cliente/excepcion/excepcionSrv.js"></script>
    <script src="http://rrhh.intranet08.minvu.cl/sigefun/Cliente/codigoPresupuestario/codigopresupuestarioSrv.js"></script>-->

    <script src="http://intranet08.minvu.cl/sigefun/Cliente/usuarios/usuariosSrv.js"></script>

    <!-- Toolbar accesible -->
    <!--<link href="Content/css/a11y.css" rel="stylesheet" type="text/css">
    <link href="Content/css/a11y-toolbar.css" rel="stylesheet" type="text/css">
    <link href="Content/css/a11y-fontsize.css" rel="stylesheet" type="text/css">
     <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="Content/js/a11y.js" type="text/javascript"></script>
    <script type="text/javascript">var a11y_stylesheet_path = "Content/css/a11y-contrast.css";</script>-->


</body>
</html>	                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            