﻿<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{dialogo.titulo}}</h4>

            <div class="{{dialogo.clase}}" role="alert">
                <strong>{{dialogo.pregunta}}</strong>
            </div>


            <div class="text-right">
                <button class="btn btn-primary" ng-click="aceptar()">Aceptar</button>
                <button class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
            </div>
        </div> <!-- fin Card body-->
    </div> <!--fin Card-->
</div>
