﻿
<br>
<!-- tablas -->
<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Mis Proyectos</h3>
<br />


<div class="row">
    <form class="form-inline ">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="selectTamPagina" class="control-label">Mostrando:</label>
                <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <label for="selectTamPagina" class="control-label">Registros</label>
            </div>
        </div>
    </form>
    <div class="col-sm-9">
        <form class="form-inline pull-right">
            <!--<div class="form-group">
                <label for="EstadoProyecto" class="control-label">Estado Proyecto</label>
                <select class="form-control" id="EstadoProyecto" name="EstadoProyecto" ng-model="filtro.proyectoBuscado.Id_Estado_Proyecto">
                    <option selected value="0">>>Todos</option>
                    <option ng-repeat="estado in estados" value="{{estado.Id_Estado_Proyecto}}">{{estado.Nombre_Estado_Proyecto}}</option>
                </select>
            </div>-->
            <!--<div class="form-group">
                <label for="TipoSubsidio" class="control-label">Tipo Subsidio</label>
                <select class="form-control" id="TipoSubsidio" name="TipoSubsidio" ng-model="filtro.proyectoBuscado.Id_Tipo_Subsidio" ng-change="lista_de_tipologias()">
                    <option selected value="0">>>Todos</option>
                    <option ng-repeat="subsidio in subsidios" value="{{subsidio.Id_Tipo_Subsidio}}">{{subsidio.Nombre_Tipo_Subsidio}}</option>
                </select>
            </div>-->
            <!--<div class="form-group">
                <label for="Tipologia" class="control-label">Tipologia</label>
                <select class="form-control" id="Tipologia" name="Tipologia" ng-model="filtro.proyectoBuscado.Id_Tipologia">
                    <option selected value="0">>>Todos</option>
                    <option ng-repeat="tipologia in tipologias" value="{{tipologia.Id_Tipologia}}">{{tipologia.Nombre_Tipologia}}</option>
                </select>
            </div>-->

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Por Codigo, Nombre o Empresa..." ng-model="filtro.proyectoBuscado.Nombre_Empresa">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="buscar()">Buscar</button>
                </span>
            </div>
        </form>
   </div>
</div>


<br />

<div>
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>N° Familias</th>
                        <th>Estado</th>
                        <th>Tipo Subsidio</th>
                        <th>Tipologia</th>
                        <th>Empresa</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in proyectos">
                        <td>{{filtro.pagina.tamacno*(currentPage-1) + $index + 1}}</td>
                        <td>{{p.Codigo_Proyecto}}</td>
                        <td class="celda-normal">{{p.Nombre_Proyecto}}</td>
                        <td>{{p.Cantidad_Familias}}</td>
                        <td>{{p.Nombre_Estado_Proyecto}}</td>
                        <td class="celda-normal">{{p.Nombre_Tipo_Subsidio}}</td>
                        <td class="celda-normal">{{p.Nombre_Tipologia}}</td>
                        <td class="celda-normal">{{p.Nombre_Empresa}}</td>
                        <td align="center">
                           <!-- <a href="#!/proyectos/{{p.Id_Proyecto}}/editar" title="Editar" role="button" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Editar</a>-->
                            <a href="#!/proyectos/{{p.Id_Proyecto}}/expedientes" title="Expedientes" class="btn btn-default btn-sm"><i class="fa fa-file-o" aria-hidden="true"></i> &nbsp; Expedientes</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
            </div>
        </form>
    </div>
    <div class="col-sm-8 ">
        <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>




