﻿
<br>
<!-- tablas -->
<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Administración de Proyectos</h3>
<a class="btn btn-default pull-right" href="" ng-click="volver()">← Ir a las Empresas</a>
<br />
<br />
<br />
<div class="row">
    <div class="col-sm-3">
        <form class="form-inline ">

            <div class="form-group">
                <label for="selectTamPagina" class="control-label">Mostrando:</label>
                <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <label for="selectTamPagina" class="control-label">Registros</label>
            </div>
        </form>
    </div>

    <div class="col-sm-9">
        <form class="form-inline pull-right">
            <div class="form-group">
                <a class="btn btn-primary hidden-xs" href=""  ng-click="agregar()">Agregar</a>
                <a class="btn btn-primary visible-xs btn-block" href=""  ng-click="agregar()">Agregar</a>
            </div>
            
            <div class="form-group">

                <select class="form-control" id="Tramite" name="Tramite" ng-model="filtro.proyecto.Id_Proceso" >
                    <option selected value="0">>>Seleccionar Tramite</option>
                    <option ng-repeat="proc in procesos" value="{{proc.Id_Proceso}}">{{proc.Nombre_Proceso}}</option>
                </select>
            </div>


            <div class="input-group">
                <input type="text" class="form-control" id="Nombre" placeholder="por Codigo,Nombre o Empresa..." ng-model="filtro.proyecto.Nombre_Empresa">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="buscar()">Buscar</button>
                </span>
            </div>

        </form>

    </div>
</div>


<br />

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="celda-normal">Trámite</th>
                        <th>Código</th>
                        <th class="celda-normal">Nombre</th>
                        <th>N° Familias</th>
                        <th>Estado</th>
                        <th>Tipo Subsidio</th>
                        <th>Tipologia</th>
                        <th class="celda-normal">Empresa</th>
                        <!--<th>Revisor</th>-->
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in proyectos">
                        <td>{{filtro.pagina.tamacno*(currentPage-1) + $index + 1}}</td>
                        <td class="celda-normal">{{p.Nombre_Proceso}}</td>
                        <td>{{p.Codigo_Proyecto}}</td>
                        <td class="celda-normal">{{p.Nombre_Proyecto}}</td>
                        <td>{{p.Cantidad_Familias}}</td>
                        <td>{{p.Nombre_Estado_Proyecto}}</td>
                        <td class="celda-normal">{{p.Nombre_Tipo_Subsidio}}</td>
                        <td class="celda-normal">{{p.Nombre_Tipologia}}</td>
                        <td class="celda-normal">{{p.Nombre_Empresa}}</td>
                        <!--<td class="celda-normal">{{p.Nombre_Revisor}}</td>-->

                        <td align="center">
                            <a href="#!/proyectosAdm/{{p.Id_Proyecto}}/editar" title="Editar" role="button" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Editar</a>
                            <a href="#!/proyectosAdm/{{p.Id_Proyecto}}/expedientesAdm" title="Expedientes" class="btn btn-default btn-sm"><i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;Expedientes</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
            </div>
        </form>
    </div>
    <div class="col-sm-8 ">
        <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>



