﻿<div class="container">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Modificar Proyecto</h3>
        <br />
    </div>

    <form class="form" name="frmProyecto" id="frmProyecto" novalidate>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="comboTramite" class="control-label">Trámite</label>
                    <select class="form-control" id="comboEmpresa" name="comboEmpresa" ng-model="proyecto.Id_Proceso" required>
                        <option selected value="">>>Seleccione</option>
                        <option ng-repeat="proc in procesos" value="{{proc.Id_Proceso}}">{{proc.Nombre_Proceso}}</option>
                    </select>
                    <span ng-show="frmProyecto.comboTramite.$touched && frmProyecto.comboTramite.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="Codigo_Proyecto" class="control-label">Código Proyecto</label>
                    <input type="text" class="form-control" id="Codigo_Proyecto" name="Codigo_Proyecto" ng_model="proyecto.Codigo_Proyecto" maxlength="20" required>
                    <span ng-show="frmProyecto.Codigo_Proyecto.$touched && frmProyecto.Codigo_Proyecto.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Nombre_Proyecto" class="control-label">Nombre Proyecto</label>
                    <input type="text" class="form-control" id="Nombre_Proyecto" name="Nombre_Proyecto" ng_model="proyecto.Nombre_Proyecto" maxlength="250" required>
                    <span ng-show="frmProyecto.Nombre_Proyecto.$touched && frmProyecto.Nombre_Proyecto.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="comboEmpresa" class="control-label">Empresa</label>
                    <select class="form-control" id="comboEmpresa" name="comboEmpresa" ng-model="proyecto.Rut_Empresa" required>
                        <!--<option selected value="">>>Seleccione</option>-->
                        <option ng-repeat="empresa in empresas" value="{{empresa.Rut_Empresa}}">{{empresa.Nombre_Empresa}}</option>
                    </select>
                    <span ng-show="frmProyecto.comboEmpresa.$touched && frmProyecto.comboEmpresa.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="comboRevisor" class="control-label">Revisor/a</label>
                    <select class="form-control" id="comboRevisor" name="comboRevisor" ng-model="proyecto.Rut_Revisor" required>
                        <option selected value="">>>Seleccione</option>
                        <option ng-repeat="revisor in revisores" value="{{revisor.Rut}}">{{revisor.Nombre_Completo}}</option>
                    </select>
                    <span ng-show="frmProyecto.comboRevisor.$touched && frmProyecto.comboRevisor.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>-->

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="EstadoProyecto" class="control-label">Estado Proyecto</label>
                    <select class="form-control" id="EstadoProyecto" name="EstadoProyecto" ng-model="proyecto.Id_Estado_Proyecto" required>
                        <!--<option selected value="">>>Seleccione</option>-->
                        <option ng-repeat="estado in estados" value="{{estado.Id_Estado_Proyecto}}">{{estado.Nombre_Estado_Proyecto}}</option>
                    </select>
                    <span ng-show="frmProyecto.EstadoProyecto.$touched && frmProyecto.EstadoProyecto.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="TipoSubsidio" class="control-label">Tipo Subsidio</label>
                    <select class="form-control" id="TipoSubsidio" name="TipoSubsidio" ng-model="proyecto.Id_Tipo_Subsidio" ng-change="lista_de_tipologias()" required>
                        <!--<option selected value="">>>Seleccione</option>-->
                        <option ng-repeat="subsidio in subsidios" value="{{subsidio.Id_Tipo_Subsidio}}">{{subsidio.Nombre_Tipo_Subsidio}}</option>
                    </select>
                    <span ng-show="frmProyecto.TipoSubsidio.$touched && frmProyecto.TipoSubsidio.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Tipologia" class="control-label">Tipologia</label>
                    <select class="form-control" id="Tipologia" name="Tipologia" ng-model="proyecto.Id_Tipologia" required>
                        <option selected value="">>>Seleccione</option>
                        <option ng-repeat="tipologia in tipologias" value="{{tipologia.Id_Tipologia}}">{{tipologia.Nombre_Tipologia}}</option>
                    </select>
                    <span ng-show="frmProyecto.Tipologia.$touched && frmProyecto.Tipologia.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="Cantidad_Familias" class="control-label">Cantidad Familias</label>
                    <input type="number" class="form-control" id="Cantidad_Familias" name="Cantidad_Familias" ng_model="proyecto.Cantidad_Familias" maxlength="5" required>
                    <span ng-show="frmProyecto.Cantidad_Familias.$touched && frmProyecto.Cantidad_Familias.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Region" class="control-label">Región</label>
                    <select class="form-control" id="Region" name="Region" ng-model="proyecto.Id_Region" ng-change="lista_de_provincias()" required>
                        <option selected value="">>>Seleccione</option>
                        <option ng-repeat="r in regiones" value="{{r.Id_Region}}">{{r.Nombre_Region}}</option>
                    </select>
                    <span ng-show="frmProyecto.Region.$touched && frmProyecto.Region.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Provincia" class="control-label">Provincia</label>
                    <select class="form-control" id="Provincia" name="Provincia" ng-model="proyecto.Id_Provincia" ng-change="lista_de_comunas()" required>
                        <option selected value="">>>Seleccione</option>
                        <option ng-repeat="p in provincias" value="{{p.Id_Provincia}}">{{p.Nombre_Provincia}}</option>
                    </select>
                    <span ng-show="frmProyecto.Provincia.$touched && frmProyecto.Provincia.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="Comuna" class="control-label">Comuna</label>
                    <select class="form-control" id="Comuna" name="Comuna" ng-model="proyecto.Id_Comuna" required>
                        <option selected value="">>>Seleccione</option>
                        <option ng-repeat="c in comunas" value="{{c.Id_Comuna}}">{{c.Nombre_Comuna}}</option>
                    </select>
                    <span ng-show="frmProyecto.Comuna.$touched && frmProyecto.Comuna.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 text-right">

                <a class="btn btn-default" href="#!/proyectos">← Volver </a>
                <button class="btn btn-primary" ng-disabled="frmProyecto.$invalid" ng-click="guardar()"> <i ng-show="guardando_proyecto" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_proyecto">Guardar</span> <span ng-show="guardando_proyecto">Espere un Momento, Guardando Proyecto</span> </button>


            </div>
        </div>

    </form>
</div>
   



