﻿<div class="container">

<div class="text-left">
            <br>
            <!-- tablas -->
            <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Agregar Tipo Expediente</h2>
            <br />
</div>
   
<form class="form" name="frmTipoExpediente" id="frmTipoExpediente" novalidate>
   
     <div class="form-group">
                <label for="comboTramite" class="control-label">Trámite</label>
                <select class="form-control" id="comboEmpresa" name="comboEmpresa" ng-model="tipoExpediente.Id_Proceso" required>
                    <option selected value="">>>Seleccione</option>
                    <option ng-repeat="proc in procesos" value="{{proc.Id_Proceso}}">{{proc.Nombre_Proceso}}</option>
                </select>
                <span ng-show="frmProyecto.comboTramite.$touched && frmProyecto.comboTramite.$error.required">(*) Este es un campo requerido</span>
     </div>
       


    <div class="form-group">
        <label for="Nombre_Tipo_Expediente" class="control-label">Nombre Tipo Expediente</label>
        <input type="text" class="form-control" id="Nombre_Tipo_Expediente" name="Nombre_Tipo_Expediente" ng_model="tipoExpediente.Nombre_Tipo_Expediente" maxlength="50" required>
        <span ng-show="frmTipoExpediente.Nombre_Tipo_Expediente.$touched && frmTipoExpediente.Nombre_Tipo_Expediente.$error.required">(*) Este es un campo requerido</span>
    </div>

    <div class="form-group">
        <label for="Vigente" class="control-label">Vigente</label>
        <select class="form-control" id="Vigente" name="Vigente" ng-model="tipoExpediente.Vigente">
            <option selected value="1">Si</option>
            <option value="0">No</option>
        </select>
    </div>
   

    <button class="btn btn-primary" ng-disabled="frmTipoExpediente.$invalid" ng-click="guardar()"> <i ng-show="guardando_tipo_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_tipo_expediente">Guardar</span> <span ng-show="guardando_tipo_expediente">Espere un Momento, Guardando Tipo de Expediente</span> </button>
    <a class="btn btn-primary" href="" ng-click="volver()">← Volver </a>

</form>
</div>
