﻿<br>

<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Tipo de Expedientes</h3>
<br />

<form class="form-inline ">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="selectTamPagina" class="control-label">Mostrando:</label>
                <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <label for="selectTamPagina" class="control-label">Registros</label>
            </div>
        </div>
        <div class="col-sm-8 text-right">
            <!--<div class="form-group">
        <button type="submit" class="btn btn-primary hidden-xs" ng-click="buscar()">Buscar</button>
        <button type="submit" class="btn btn-primary  visible-xs btn-block" ng-click="buscar()">Buscar</button>
    </div>-->
            <div class="form-group">

                <select class="form-control" id="Tramite" name="Tramite" ng-model="filtro.tipoExpediente.Id_Proceso">
                    <option selected value="0">>>Seleccionar Tramite</option>
                    <option ng-repeat="proc in procesos" value="{{proc.Id_Proceso}}">{{proc.Nombre_Proceso}}</option>
                </select>
            </div>
            <div class="form-group">
                <a class="btn btn-primary hidden-xs" href=""  ng-click="agregar()">Agregar</a>
                <a class="btn btn-primary visible-xs btn-block" href="" ng-click="agregar()">Agregar</a>
                <button type="submit" class="btn btn-primary hidden-xs" ng-click="buscar()">Buscar</button>
                <button type="submit" class="btn btn-primary  visible-xs btn-block" ng-click="buscar()">Buscar</button>
            </div>
        </div>
    </div>
</form>

<br />

<div class="row">
    <div class="col-sm-12">
                
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Tramite</th>
                        <th>Nombre</th>\
                        <th>Vigente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="te in tipoExpedientes">
                        <td class="text col-sm-6">{{te.Nombre_Proceso}}</td>
                        <td class="text col-sm-6">{{te.Nombre_Tipo_Expediente}}</td>
                        <td ng-show="te.Vigente==1" class="text col-sm-4">Si</td>
                        <td ng-show="te.Vigente==0" class="text col-sm-4">No</td>
                        <td class="text col-sm-2" align="center">
                            <a href="#!/tipoExpedientes/{{te.Id_Tipo_Expediente}}/editar" title="Editar" role="button" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
            </div>
        </form>
    </div>
    <div class="col-sm-8 ">
        <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>



