﻿<div>

 
    <!-- encabezados o titulares  -->
    <br>
    <!-- tablas -->
    <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Lista de Roles</h3>
    <br />
    <p>Seleccione el rol.</p>

    <div class="table-responsive">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rol in roles">
                    <td>{{rol.Nombre_Rol}}</td>
                    <td class="no-wrap">
                        <a href="" ng-click="verUsuarios(rol)"><i class="fa fa-user"></i> Ver Usuarios</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="roles.length==0" class="alert alert-info" role="alert">
            No hay roles
        </div>
    </div>
</div>


