﻿


<div>
    <br>
    <!-- tablas -->
    <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Lista de Funcionarios</h3>
    <br />
   
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary pull-right" ng-click="agregar_funcionarios()" href="">Agregar funcionario al rol</a>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-4">
            <form class="form-inline">
                <div class="form-group">
                    <label for="selectTamPagina" class="control-label">Mostrando</label>
                    <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.Tamacno_Pagina">

                        <option value="10">10</option>
                        <option value="20">20</option>


                    </select>

                </div>
                <div class="form-group">
                    <label for="selectTamPagina" class="control-label">por página</label>

                </div>
            </form>
        </div>
        <div class="col-sm-8">

            <form class="form-inline pull-right">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="filtro.Nombre_Completo" placeholder="Nombre del Funcionario">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="listadoPaginado()">Buscar</button>
                </div>


            </form>

        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">

                <table class="table table table-bordered">
                    <tr>
                        <td>Rut</td>
                        <td>Funcionario</td>
                        <td>Seleccionar</td>

                    </tr>
                    <tr ng-repeat="f in funcionarios">
                        <td>{{f.Rut}}</td>
                        <td>{{f.Nombre_Completo}}</td>
                        <td><input type="checkbox" ng-click="seleccionar(f, $event.target.checked)" ng-model="f.Seleccionado" /></td>

                    </tr>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form class="form-inline">
                    <div class="form-group">
                        <p class="form-control-static">Página {{bigCurrentPage}} de {{numPages}}</p>
                    </div>

                </form>
            </div>
            <div class="col-sm-8 ">
                <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.Tamacno_Pagina" ng-change="pageChanged()" num-pages="numPages" ng-model="bigCurrentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>

            </div>
        </div>
    </div>

</div>

