﻿<div class="container">

<div class="text-left">
            <br>
            <!-- tablas -->
            <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Agregar Tipo Subsidio</h2>
            <br />
</div>
   
<form class="form" name="frmTipoSubsidio" id="frmTipoSubsidio" novalidate>

    <div class="form-group">
        <label for="Codigo_Tipo_Subsidio" class="control-label">Código Tipo Subsidio</label>
        <input type="text" class="form-control" id="Codigo_Tipo_Subsidio" name="Codigo_Tipo_Subsidio" ng_model="tipoSubsidio.Codigo_Tipo_Subsidio" maxlength="20" required>
        <span ng-show="frmTipoSubsidio.Codigo_Tipo_Subsidio.$touched && frmTipoSubsidio.Codigo_Tipo_Subsidio.$error.required">(*) Este es un campo requerido</span>
    </div>

    <div class="form-group">
        <label for="Nombre_Tipo_Subsidio" class="control-label">Nombre Tipo Subsidio</label>
        <input type="text" class="form-control" id="Nombre_Tipo_Subsidio" name="Nombre_Tipo_Subsidio" ng_model="tipoSubsidio.Nombre_Tipo_Subsidio" maxlength="100" required>
        <span ng-show="frmTipoSubsidio.Nombre_Tipo_Subsidio.$touched && frmTipoSubsidio.Nombre_Tipo_Subsidio.$error.required">(*) Este es un campo requerido</span>
    </div>

    <div class="form-group">
        <label for="Vigente" class="control-label">Vigente</label>
        <select class="form-control" id="Vigente" name="Vigente" ng-model="tipoSubsidio.Vigente">
            <option selected value="1">Si</option>
            <option value="0">No</option>
        </select>
    </div>

    <button class="btn btn-primary" ng-disabled="frmTipoSubsidio.$invalid" ng-click="guardar()"> <i ng-show="guardando_tipo_subsidio" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_tipo_subsidio">Guardar</span> <span ng-show="guardando_tipo_subsidio">Espere un Momento, Guardando Tipo de Subsidio</span> </button>
    <a class="btn btn-primary" href="#!/tipoSubsidios">← Volver </a>

</form>
</div>
