﻿<br>

<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Selección de Trámite</h3>
<br />


    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>

                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tt in tipoTramites">
                    <td>{{tt.Nombre_Tipo_Tramite}}</td>
                    <td>{{tt.Descripcion}}</td>
                    <td align="center">
                        <a href="" title="Ir" role="button" ng-click="guardarTramite(tt)" class="btn btn-primary"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp; Ingreso</a>
                        <a class="btn btn-default btn-sm" ng-click="editar(tt.Id_Tipo_Tramite)">     <i class="fa fa-edit" aria-hidden="true"></i> &nbsp; Editar</a>
                        <a class="btn btn-default btn-sm" ng-click="respaldar(tt.Id_Tipo_Tramite)">     <i class="fa fa-save" aria-hidden="true"></i> &nbsp; Respaldar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form class="form-inline">
                <div class="form-group">
                    <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
                </div>
            </form>
        </div>
        <div class="col-sm-8 ">
            <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
        </div>
    </div>
