﻿<div class="container">

<div class="text-left">
            <br>
            <!-- tablas -->
            <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Modificar Tipo Tramite</h2>
            <br />
</div>

<form class="form" name="frmTipoTramite" id="frmTipoTramite" novalidate>

    <div class="form-group">
        <label for="Nombre_Tipo_Tramite" class="control-label">Nombre Tipo Tramite</label>
        <input type="text" class="form-control" id="Nombre_Tipo_Tramite" name="Nombre_Tipo_Tramite" ng_model="tipoTramite.Nombre_Tipo_Tramite" maxlength="100" required>
        <span ng-show="frmTipoTramite.Nombre_Tipo_Tramite.$touched && frmTipoTramite.Nombre_Tipo_Tramite.$error.required">(*) Este es un campo requerido</span>
    </div>
    <div class="form-group">
        <label for="Descripcion" class="control-label">Descripción</label>
        <input type="text" class="form-control" id="Descripcion" name="Descripcion" ng_model="tipoTramite.Descripcion" maxlength="100" required>
        <span ng-show="frmTipoTramite.Descripcion.$touched && frmTipoTramite.Descripcion.$error.required">(*) Este es un campo requerido</span>
    </div>

    <div class="form-group">
        <label for="Vigente" class="control-label">Vigente</label>
        <select class="form-control" id="Vigente" name="Vigente" ng-model="tipoTramite.Vigente">
            <option selected value="1">Si</option>
            <option value="0">No</option>
        </select>
    </div>

    <button class="btn btn-primary" ng-disabled="frmTipoTramite.$invalid" ng-click="guardar()"> <i ng-show="guardando_tipo_tramite" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_tipo_tramite">Guardar</span> <span ng-show="guardando_tipo_tramite">Espere un Momento, Guardando Tipo de Tramite</span> </button>
    <a class="btn btn-primary" href="#!/tipoTramites">← Volver </a>

</form>
</div>
