﻿<div class="container" ng-show="vista=='recepcionado'">
    <div class="row">
        <div class="col-sm-12">
            <h4>Enviar el Expediente Recepcionado a la EMPRESA</h4>

            <div class="alert alert-warning" role="alert">
                ¿Está seguro que quiere enviar el Expediente {{expediente.Descripcion}} a la Empresa?.
            </div>


            <div class="text-right">
                <button class="btn btn-primary" ng-click="recepcionar()">Aceptar</button>
                <button class="btn btn-primary" ng-click="volver()">Volver</button>
            </div>
        </div> <!-- fin Card body-->
    </div> <!--fin Card-->
</div>
<div class="container" ng-show="vista=='observado'">
    <div class="row">
        <div class="col-sm-12">
            <h4>Enviar el Expediente Observado a la EMPRESA</h4>

            <div class="alert alert-warning" role="alert">
                ¿Está seguro que quiere enviar el Expediente {{expediente.Descripcion}} a la Empresa?.
            </div>


            <div class="text-right">
                <button class="btn btn-primary" ng-click="observar()">Aceptar</button>
                <button class="btn btn-primary" ng-click="volver()">Volver</button>
            </div>
        </div> <!-- fin Card body-->
    </div> <!--fin Card-->
</div>
<div class="container" ng-show="vista==''">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Revisar Expediente</h3>
        <br />
    </div>

    <div class="body">
        <div class="header">
            <ul class="nav nav-tabs header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" ng-class="{ active: esTab('Descripcion') }" href="" ng-click="estableceTab('Descripcion')">Descripción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-class="{ active: esTab('Documentos') }" ng-click="estableceTab('Documentos')">Documentos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="" ng-class="{ active: esTab('Historial') }" ng-click="estableceTab('Historial')">Historial</a>
                </li>
            </ul>

        </div>

        <div ng-show="esTab('Descripcion')">
            <br />

            <form class="form" name="frmExpediente" id="frmExpediente" novalidate>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="estadoExpediente" class="control-label">Estado Expediente</label>
                            <input class="form-control" ng-model="expediente_tarea.Nombre_Estado_Expediente" disabled />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="tipoExpediente" class="control-label">Tipo Expediente</label>
                            <input type="text" class="form-control" ng-model="expediente_tarea.Nombre_Tipo_Expediente" disabled />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="descripcion" class="control-label">Descripción</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" ng_model="expediente_tarea.Descripcion" maxlength="250" disabled>
                            <span ng-show="frmExpediente.descripcion.$touched && frmExpediente.descripcion.$error.required">(*) Este es un campo requerido</span>

                        </div>

                    </div>
                </div>

            </form>
            <br />
            <!--<div class="row">
        <div class="col-sm-12">
            <div class="text-right">
                <button class="btn btn-primary" ng-click="ver_documentos()">Ver Documentos</button>
            </div>
        </div>
    </div>-->
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{expediente_tarea.Nombre_Tipo_Tarea}}</div>
                        <div class="panel-body">
                            <form class="form" name="frmTarea" novalidate>

                                <div class="form-group">
                                    <label for="Observaciones" class="control-label">Observaciones</label>
                                    <textarea class="form-control" rows="3" id="Observaciones" name="Observaciones" placeholder="Observaciones" ng-model="expediente_tarea.Observaciones" ng-maxlength="250" maxlength="250"></textarea>
                                    <span ng-show="frmTarea.Observaciones.$touched && frmTarea.Observaciones.$error.maxlength">(*) Solo puede ingresar hasta 250 caracteres</span>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-primary ml" ng-disabled="frmTarea.$invalid" ng-click="iniciarRecepcionar()">
                                
                                        <i ng-show="recepcionando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                        <span ng-show="!recepcionando_expediente">Recepcionar el expediente</span>
                                        <span ng-show="recepcionando_expediente">Espere un Momento, Recepcionando el Expediente</span>

                                    </button>

                                    <button class="btn btn-primary" ng-disabled="frmTarea.$invalid" ng-click="iniciarObservar()">
                                        <i ng-show="observando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                        <span ng-show="!observando_expediente">Observar el expediente</span>
                                        <span ng-show="observando_expediente">Espere un Momento, Observando el Expediente</span>
                                    </button>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" href="#!/expedientes">← Volver </a>
            </div>

           


        </div>
        <div ng-show="esTab('Documentos')">
            <br />

            <documentos></documentos>

        </div>
        <div ng-show="esTab('Historial')">
            <br />

            <tarea-historial></tarea-historial>

        </div>

    </div>
</div>




