﻿
<div class="container">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h2 id="tablas" class="titles-site" style="margin-top:-60px;">Agregar Expediente</h2>
        <br />
    </div>
    
    <form class="form" name="frmExpediente" id="frmExpediente" novalidate>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="estadoExpediente" class="control-label">Estado Expediente</label>
                    <select class="form-control" id="estadoExpediente" name="estadoExpediente" ng-model="expediente.Id_Estado_Expediente" disable>
                        <option selected value="0">>> Seleccione</option>
                        <option ng-repeat="est in estados" value="{{est.Id_Estado_Expediente}}">{{est.Nombre_Estado_Expediente}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="tipoExpediente" class="control-label">Tipo Expediente</label>
                    <select class="form-control" id="tipoExpediente" name="tipoExpediente" ng-model="expediente.Id_Tipo_Expediente" required>
                        <option selected value="0">>> Seleccione</option>
                        <option ng-repeat="te in tipos" value="{{te.Id_Tipo_Expediente}}">{{te.Nombre_Tipo_Expediente}}</option>
                    </select>
                    <span ng-show="frmExpediente.tipoExpediente.$touched && frmExpediente.tipoExpediente.$error.required">(*) Este es un campo requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="descripcion" class="control-label">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" ng_model="expediente.Descripcion" maxlength="250" required>
                    <span ng-show="frmExpediente.descripcion.$touched && frmExpediente.descripcion.$error.required">(*) Este es un campo requerido</span>

                </div>
             </div>
        </div>
    </form>

    <!--<div ng-show="subiendoArchivo=='true'">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Cargando...</span>
    </div>-->
       
    <div class="text-right">
        <button class="btn btn-primary" ng-disabled="frmExpediente.$invalid" ng-click="guardar()"> <i ng-show="guardando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_expediente">Guardar</span> <span ng-show="guardando_expediente">Espere un Momento, Guardando Expediente</span> </button>
        <button class="btn btn-primary" ng-disabled="frmExpediente.$invalid" ng-click="agregar_archivos()"> <i ng-show="guardando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_expediente">Agregar Archivos</span></button>
        <a class="btn btn-primary" ng-click="volver()" href="">← Volver </a>
    </div>
</div>




