﻿
<div class="container">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">Ver expediente</h3>
        <br />
    </div>

    <div>

        <div class="body">
            <div class="header">
                <ul class="nav nav-tabs header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" ng-class="{ active: esTab('Descripcion') }" href="" ng-click="estableceTab('Descripcion')">Descripción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" ng-class="{ active: esTab('Documentos') }" ng-click="estableceTab('Documentos')">Documentos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="" ng-class="{ active: esTab('Historial') }" ng-click="estableceTab('Historial')">Historial</a>
                    </li>
                </ul>

            </div>

            <div ng-show="esTab('Descripcion')">
                <br />

                <form class="form" name="frmExpediente" id="frmExpediente" novalidate>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="estadoExpediente" class="control-label">Estado Expediente</label>
                                <select class="form-control" id="estadoExpediente" name="estadoExpediente" ng-model="expediente.Id_Estado_Expediente" disabled>
                                    <option selected value="0">>> Seleccione</option>
                                    <option ng-repeat="est in estados" value="{{est.Id_Estado_Expediente}}">{{est.Nombre_Estado_Expediente}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipoExpediente" class="control-label">Tipo Expediente</label>
                                <input type="text" class="form-control" ng-model="expediente.Nombre_Tipo_Expediente" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descripcion" class="control-label">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" ng_model="expediente.Descripcion" maxlength="250" disabled>
                                <span ng-show="frmExpediente.descripcion.$touched && frmExpediente.descripcion.$error.required">(*) Este es un campo requerido</span>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="comboRevisor" class="control-label">Revisor/a</label>
                                <select class="form-control" id="comboRevisor" name="comboRevisor" ng-model="expediente.Rut_Revisor" required>
                                    <option selected value="">>>Seleccione</option>
                                    <option ng-repeat="revisor in revisores" value="{{revisor.Rut}}">{{revisor.Nombre_Completo}}</option>
                                </select>
                                <span ng-show="frmProyecto.comboRevisor.$touched && frmProyecto.comboRevisor.$error.required">(*) Este es un campo requerido</span>
                            </div>
                        </div>
                    </div>

                </form>

                <!--  <img ng-src={{dato}} alt="Description" width="50" height="50"/>-->

                <br />

            </div>
            <div ng-show="esTab('Documentos')">
                <br />
                <documentos></documentos>
            </div>
            <div ng-show="esTab('Historial')">
                <br />

                <tarea-historial></tarea-historial>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 text-right">

                <a class="btn btn-default" href="" ng-click="volver()">← Volver </a>
                <button class="btn btn-primary" ng-disabled="frmExpediente.$invalid" ng-click="guardar()"> <i ng-show="guardando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_expediente">Guardar</span> <span ng-show="guardando_expediente">Espere un Momento, Guardando Expediente</span> </button>


            </div>
        </div>
    </div>