﻿
<div class="container">

    <div class="text-left">
        <br>
        <!-- tablas -->
        <h3 id="tablas" class="titles-site" style="margin-top:-60px;">{{titulo}}</h3>
        <a class="btn btn-default pull-right" ng-click="volver()" href="">← Volver a la lista de expedientes </a>
        <br />

    </div>
    <br />
    <br />
    <div ng-show="vista=='Descripcion'">

        <form class="form" name="frmExpediente" id="frmExpediente" novalidate>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="estadoExpediente" class="control-label">Estado Expediente</label>
                        <select class="form-control" id="estadoExpediente" name="estadoExpediente" ng-model="expediente.Id_Estado_Expediente" disabled>
                            <option selected value="0">>> Seleccione</option>
                            <option ng-repeat="est in estados" value="{{est.Id_Estado_Expediente}}">{{est.Nombre_Estado_Expediente}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="tipoExpediente" class="control-label">Tipo Expediente</label>
                        <select class="form-control" id="tipoExpediente" name="tipoExpediente" ng-model="expediente.Id_Tipo_Expediente" required>
                            <option selected value="0">>> Seleccione</option>
                            <option ng-repeat="te in tipos" value="{{te.Id_Tipo_Expediente}}">{{te.Nombre_Tipo_Expediente}}</option>
                        </select>
                        <span ng-show="frmExpediente.tipoExpediente.$touched && frmExpediente.tipoExpediente.$error.required">(*) Este es un campo requerido</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="descripcion" class="control-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" ng_model="expediente.Descripcion" maxlength="250" required>
                        <span ng-show="frmExpediente.descripcion.$touched && frmExpediente.descripcion.$error.required">(*) Este es un campo requerido</span>

                    </div>
                </div>
            </div>

        </form>

        <!--  <img ng-src={{dato}} alt="Description" width="50" height="50"/>-->

        <br />

    </div>

    <documentos ng-show="vista=='Documentos'"></documentos>
    <br />
    <br />
    <div ng-show="vista=='Descripcion'" class="pull-right">
      
           <button  class="btn btn-primary" ng-disabled="frmExpediente.$invalid" ng-click="siguiente()"> <i ng-show="guardando_expediente" class="fa fa-spinner fa-spin" aria-hidden="true"></i> <span ng-show="!guardando_expediente">Siguiente >></span> <span ng-show="guardando_expediente">Espere un Momento, Guardando Expediente</span> </button>
     </div>
    
    <div ng-show="vista=='Documentos'">
        <button class="btn btn-primary" ng-click="anterior()"><< Anterior</button>
        <div class="pull-right">
            <button ng-disabled="totalDocumentos==0" ng-show="(expediente.Id_Estado_Expediente==1 || expediente.Id_Estado_Expediente==3 ) && vista=='Documentos'" class="btn btn-primary" ng-click="enviar()"> Enviar a SERVIU</button>
        </div>
    </div>

</div>