﻿<br>

<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Administración de Expedientes</h3>
<a class="btn btn-default pull-right" href="" ng-click="volver()">← Ir a los Proyectos </a>
<br />
<br />
<br />


<div class="row" id="search">
    <form id="search-form" action="">

        <div class="form-group col-sm-2 col-xs-6">

            <select class="form-control" id="Tramite" name="Tramite" ng-model="filtro.expediente.Id_Proceso" ng-change="tipoExpedientesPorProceso()">
                <option selected value="0">>>Seleccionar Tramite</option>
                <option ng-repeat="proc in procesos" value="{{proc.Id_Proceso}}">{{proc.Nombre_Proceso}}</option>
            </select>
        </div>

        <div class="form-group col-sm-2 col-xs-6">

            <select class="form-control" id="TipoExpediente" name="TipoExpediente" ng-model="filtro.expediente.Id_Tipo_Expediente">
                <option selected value="0">>>Seleccionar Tipo Expediente</option>
                <option ng-repeat="tipo in tipos" value="{{tipo.Id_Tipo_Expediente}}">{{tipo.Nombre_Tipo_Expediente}}</option>
            </select>
        </div>
        <div class="form-group col-sm-2 col-xs-6">

            <select class="form-control" id="EstadoExpediente" name="EstadoExpediente" ng-model="filtro.expediente.Id_Estado_Expediente">
                <option selected value="0">>>Seleccionar Estado Expediente</option>
                <option ng-repeat="estado in estados" value="{{estado.Id_Estado_Expediente}}">{{estado.Nombre_Estado_Expediente}}</option>
            </select>
        </div>
        <div class="form-group col-sm-2 col-xs-6">

            <select class="form-control" id="Revisor" name="Revisor" ng-model="filtro.expediente.Rut_Revisor">
                <option selected value="0">>>Seleccionar Revisor</option>
                <option ng-repeat="ur in usuariosPorRol" value="{{ur.Rut}}">{{ur.Nombre_Completo}}</option>
            </select>
        </div>
        <div class="form-group col-sm-2 col-xs-6">
            <input type="text" class="form-control" name="Proyecto" ng-model="filtro.expediente.Descripcion" placeholder="Codigo del proyecto">
        </div>
        <div class="form-group col-sm-2">

            <button class="btn btn-block btn-primary" type="button" ng-click="buscar()"><i class="fa fa-search" aria-hidden="true"></i>  Buscar</button>

        </div>
    </form>
</div>
<br />
<div class="row" id="filter">
    <form>
        <div class="form-group col-sm-6">

            <span for="selectTamPagina" class="control-label">Mostrando:</span>
            <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <span for="selectTamPagina" class="control-label">Registros</span>

        </div>

    </form>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Trámite</th>
                <th>Nombre Empresa</th>
                <th>Código Proyecto</th>
                <th>Proyecto</th>
                <th>Tipo Expediente</th>
                <th>Descripcion</th>
                 <th>Revisor/a</th>
                <th>Estado</th>
                <th>Documento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in expedientes">
                <td>{{filtro.pagina.tamacno*(currentPage-1) + $index + 1}}</td>
                <td class="celda-normal">{{e.Expediente.Nombre_Proceso}}</td>
                <td class="celda-normal">{{e.Expediente.Nombre_Empresa}}</td>
                <td>{{e.Expediente.Codigo_Proyecto}}</td>
                <td class="celda-normal">{{e.Expediente.Nombre_Proyecto}}</td>
                <td class="celda-normal">{{e.Expediente.Nombre_Tipo_Expediente}}</td>
                <td class="celda-normal">{{e.Expediente.Descripcion}}</td>
                <td class="celda-normal">{{e.Expediente.Nombre_Revisor}}</td>

                <td ng-show="e.Expediente.Id_Estado_Expediente==1"><span class="label label-primary">{{e.Expediente.Nombre_Estado_Expediente}}</span></td>
                <td ng-show="e.Expediente.Id_Estado_Expediente==2"><span class="label label-warning">{{e.Expediente.Nombre_Estado_Expediente}}</span></td>
                <td ng-show="e.Expediente.Id_Estado_Expediente==3"><span class="label label-danger">{{e.Expediente.Nombre_Estado_Expediente}}</span></td>
                <td ng-show="e.Expediente.Id_Estado_Expediente==4"><span class="label label-success">{{e.Expediente.Nombre_Estado_Expediente}}</span></td>
                <td ng-show="e.Expediente.Id_Estado_Expediente==5"><span class="label label-warning">{{e.Expediente.Nombre_Estado_Expediente}}</span></td>
                <td class="celda-normal">{{e.Nombre_Documento}}</td>
                <td class="text col-sm-1" align="left">
                   
                    <a href="api/documentos/{{e.Id_Documento}}" role="button" class="btn btn-default btn-sm" target="_blank"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp; Ver</a>


                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
            </div>
        </form>
    </div>
    <div class="col-sm-8 ">
        <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>


