﻿<br>

<h3 id="tablas" class="titles-site" style="margin-top:-60px;">Listado de Expedientes</h3>
<!--<a class="btn btn-default pull-right" href="" ng-click="volver()">← Ir a mis Proyectos </a>-->
<br />
<br />
<br />

<form class="form-inline ">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="selectTamPagina" class="control-label">Mostrando:</label>
                <select class="form-control" name="selectTamPagina" ng-change="tamacno_cambio()" id="selectTamPagina" ng-model="filtro.pagina.tamacno">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <label for="selectTamPagina" class="control-label">Registros</label>
            </div>
        </div>
        <div class="col-sm-9 text-right">

            <div class="form-group">
                <label for="TipoExpediente" class="control-label">Tipo</label>
                <select class="form-control" id="TipoExpediente" name="TipoExpediente" ng-model="filtro.expediente.Id_Tipo_Expediente">
                    <option selected value="0">>>Todos</option>
                    <option ng-repeat="tipo in tipos" value="{{tipo.Id_Tipo_Expediente}}">{{tipo.Nombre_Tipo_Expediente}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="EstadoExpediente" class="control-label">Estado</label>
                <select class="form-control" id="EstadoExpediente" name="EstadoExpediente" ng-model="filtro.expediente.Id_Estado_Expediente">
                    <option selected value="0">>>Todos</option>
                    <option ng-repeat="estado in estados" value="{{estado.Id_Estado_Expediente}}">{{estado.Nombre_Estado_Expediente}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Proyecto" class="control-label">Proyecto</label>
                <input type="text" id="Proyecto" class="form-control" ng-model="filtro.expediente.Descripcion" placeholder="Por codigo,nombre y descripción del proyecto">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary " ng-click="buscar()">Buscar</button>
            </div>
        </div>
    </div>
</form>

<br />
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Código Proyecto</th>
                <th>Proyecto</th>
                <th>Tipo Expediente</th>
                <th>Descripcion</th>
                <th>Fecha Envío</th>
                <th>Revisor/a</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in expedientes">
                <td >{{e.Codigo_Proyecto}}</td>
                <td  class="celda-normal">{{e.Nombre_Proyecto}}</td>
                <td  class="celda-normal">{{e.Nombre_Tipo_Expediente}}</td>
                <td class="celda-normal">{{e.Descripcion}}</td>
                <td >{{e.Fecha_Envio | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td  class="celda-normal">{{e.Nombre_Revisor}}</td>
                <td ng-show="e.Id_Estado_Expediente==1"><span class="label label-info">{{e.Nombre_Estado_Expediente}}</span></td>
                <td ng-show="e.Id_Estado_Expediente==2"><span class="label label-primary">{{e.Nombre_Estado_Expediente}}</span></td>
                <td ng-show="e.Id_Estado_Expediente==3"><span class="label label-danger">{{e.Nombre_Estado_Expediente}}</span></td>
                <td ng-show="e.Id_Estado_Expediente==4"><span class="label label-success">{{e.Nombre_Estado_Expediente}}</span></td>
                <td  align="left">
                    <!--<a ng-show="e.Id_Estado_Expediente=='2'" href="" ng-click="editar_tarea(e.Id_Tarea)" class="btn btn-default btn-sm"><i class="fa fa-edit" aria-hidden="true"></i> &nbsp; {{e.Nombre_Tarea}}</a>-->
                    <a href="#!/expedientes/{{e.Id_Expediente}}/ver" role="button" class="btn btn-default btn-sm"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp; Ver Expediente</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-inline">
            <div class="form-group">
                <p class="form-control-static">Página {{currentPage}} de {{numPages}}</p>
            </div>
        </form>
    </div>
    <div class="col-sm-8 ">
        <ul class="pull-right" uib-pagination total-items="bigTotalItems" items-per-page="filtro.pagina.tamacno" ng-change="pageChanged()" num-pages="numPages" ng-model="currentPage" max-size="maxSize" first-text="Primero" next-text="Próximo" previous-text="Previo" last-text="Último" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>


