﻿
   
<div class="panel panel-default" ng-controller="tareasHistorialCtrl">
    <div class="panel-heading">Historial de tareas realizadas al expediente</div>
    <div class="panel-body">
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tareas</th>
                    <th>Observacion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Término</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in tareas">
                    <td class="text-left">{{$index + 1 }}</td>
                    <td class="text-left">{{t.Nombre_Tipo_Tarea}}</td>
                    <td class="text-left">{{t.Observaciones}}</td>
                    <td class="text-left">{{t.Fecha_Inicio | date:'dd-MM-yyyy HH:mm'}}</td>
                    <td ng-show="t.Vigente==0" class="text-left">{{t.Fecha_Termino | date:'dd-MM-yyyy HH:mm'}}</td>
                    <td ng-show="t.Vigente==1" class="text-left"><span class="label label-warning">Pendiente</span></td>

                </tr>
            </tbody>
        </table>
   
</div>

          


